<div style="width: 100%; height: 100%">
  <form
    [formGroup]="formGroup"
    fxLayout="column"
    fxLayoutAlign="space-around start"
    fxLayoutGap="10px"
    style="width: 100%; height: 100%"
  >
    <div
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayoutAlign="start center"
      style="width: 100%"
    >
      <div fxFlex="15" style="width: 100%; height: 100%">
        <mat-form-field style="width: 100%; text-align: center" class="shrinking-mat-form-field">
          <input
            #cantidadInput
            matInput
            type="text"
            formControlName="cantidad"
            autocomplete="off"
            style="color: white; font-size: 1.5em; text-align: center;"
          />
        </mat-form-field>
      </div>
      <div fxFlex="65" style="width: 100%; height: 100%">
        <mat-form-field style="width: 100%" class="shrinking-mat-form-field">
          <!-- [matKeyboard]="'Azərbaycanca'"
                  darkTheme="true" -->
          <input
            #buscadorInput
            matInput
            type="text"
            formControlName="buscador"
            (keydown.tab)="onTabPress()"
            (keydown.enter)="onEnterPress()"
            autocomplete="off"
            oninput="this.value != ' ' ? this.value = this.value.toUpperCase() : this.value = null"
            style="color: white; font-size: 1.5em"
          />
        </mat-form-field>
      </div>
      <button
        type="button"
        fxFlex
        fxLayout="row"
        fxLayoutAlign="space-around center"
        mat-raised-button
        color="primary"
        style="height: 100% !important"
        (click)="buscarProductoDialog()"
      >
        <div fxFlex>
          Buscar (F9)
        </div>
      </button>
    </div>
  </form>
</div>
