<app-generic-list titulo="Marcaciones" (filtrar)="filtrar()" (resetFiltro)="resetearFiltro()" [isAdicionar]="false"
    [isCustom]="true" customName="Generar PDF" (customFunction)="onGenerarPdf()">
    <div filtros fxLayout="column" style="width: 100%; height: 100%">
        <div fxLayout="row wrap" fxLayoutGap="10px">

            <mat-form-field fxFlex="10">
                <mat-label>Id Usuario</mat-label>
                <input type="number" matInput [formControl]="usuarioIdControl" (keyup.enter)="buscarUsuario()"
                    style="text-align: end" placeholder="Enter..." />
                <button mat-icon-button matSuffix (click)="buscarUsuario()" type="button" matTooltip="Buscar">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>


            <mat-form-field fxFlex="30">
                <mat-label>Rango de fecha</mat-label>
                <mat-date-range-input [formGroup]="fechaFormGroup" [rangePicker]="picker">
                    <input matStartDate formControlName="inicio" placeholder="Inicio" [max]="hoy" />
                    <input matEndDate formControlName="fin" placeholder="Fin" [max]="hoy" />
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
    </div>

    <div table style="height: 100%; background-color: rgb(70, 70, 70)" fxLayout="column"
        fxLayoutAlign="space-between start">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 5%">
                    Id
                </th>
                <td mat-cell *matCellDef="let marcacion" style="text-align: center">
                    {{ marcacion.id }}
                </td>
            </ng-container>

            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 20%">
                    Usuario
                </th>
                <td mat-cell *matCellDef="let marcacion" style="text-align: center">
                    {{ marcacion.usuario?.persona?.nombre | titlecase }}
                </td>
            </ng-container>

            <ng-container matColumnDef="sucursalEntrada">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 15%">
                    Suc. Entrada
                </th>
                <td mat-cell *matCellDef="let marcacion" style="text-align: center">
                    {{ marcacion.sucursalEntrada?.nombre | uppercase }}
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaEntrada">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 15%">
                    Entrada
                </th>
                <td mat-cell *matCellDef="let marcacion" style="text-align: center">
                    {{ marcacion.fechaEntrada | date:'short' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="sucursalSalida">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 15%">
                    Suc. Salida
                </th>
                <td mat-cell *matCellDef="let marcacion" style="text-align: center">
                    {{ marcacion.sucursalSalida?.nombre | uppercase }}
                </td>
            </ng-container>

            <ng-container matColumnDef="fechaSalida">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 15%">
                    Salida
                </th>
                <td mat-cell *matCellDef="let marcacion" style="text-align: center">
                    {{ marcacion.fechaSalida | date:'short' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="presencial">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 10%">
                    Presencial
                </th>
                <td mat-cell *matCellDef="let marcacion" style="text-align: center">
                    <mat-icon [style.color]="marcacion.presencial ? '#4caf50' : '#f44336'">
                        {{ marcacion.presencial ? 'check_circle' : 'cancel' }}
                    </mat-icon>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" class="example-element-row"></tr>
        </table>
        <mat-paginator itemsPerPageLabel="Itens por pagina" [length]="100" [pageSize]="15"
            [pageSizeOptions]="[15, 25, 50, 100]" aria-label="Select page" style="width: 100%" showFirstLastButtons>
        </mat-paginator>
    </div>
</app-generic-list>