<div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px">
  <div style="width: 100%; text-align: center;">
    <h2>{{data.descripcion}}</h2>
  </div>
  <div
    fxFlex
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    fxLayoutGap="5px"
    fxLayoutGap="5px grid"
  >
    <div [fxFlex]="data?.productos?.length > 0 && data?.productos?.length < 8 ? 99/data?.productos?.length : 99/7" *ngFor="let producto of data.productos; let i = index">
      <mat-card
        style="
          padding: 0;
          margin: 0;
          margin-top: 5px;
          background-color: #f44336;
          width: 150px;
          height: 100%;
        "
        (click)="onProductoClick(producto)"
      >
        <div fxLayout="column" fxLayoutGap="10px">
          <div>
            <img
              [src]="producto?.imagenPrincipal != null ? producto?.imagenPrincipal : '/assets/no-image.png'"
              style="width: 150px; height: 100%;object-fit: cover; padding-top: 8px;"
            >
          </div>
          <div style="text-align: center; font-weight: bold;">
            {{ producto.descripcion | uppercase }}
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

