<mat-toolbar color="primary">
  <mat-toolbar-row style="padding-right: 0" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="25" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <button fxFlex="20" mat-icon-button (click)="toogleSideBar()"
        [disabled]="!cloudStatus && (!isLocal || !localStatus)" class="header-menu-toggle">
        <mat-icon>menu</mat-icon>
      </button>
      <div style="position: relative; text-align: center">
        <span style="padding-left: 20px; display: inline-block">
          <ng-container *ngIf="isLocal; else cloudTitle">
            BODEGA FRANCO {{ mainService?.sucursalActual?.nombre | uppercase }}
            {{ isDev && isLocalhost ? "DEV" : null }}
          </ng-container>
          <ng-template #cloudTitle>
            BODEGA FRANCO CLOUD {{ isDev ? "DEV" : null }}
          </ng-template>
        </span>
        <span style="
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 100%;
            font-size: small;
          ">
          FRC Sistemas Informáticos v{{ appVersion }}
        </span>
      </div>
    </div>

    <div fxFlex="50" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end center" style="width: 100%">
      <div fxFlex="10">
        <button fxFlex mat-icon-button [matMenuTriggerFor]="menuServerIp">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menuServerIp="matMenu">
          <div style="padding: 5px">
            <button mat-flat-button color="success" (click)="createQrCode()"
              [disabled]="!cloudStatus && (!isLocal || !localStatus)">
              QR de la sucursal
            </button>
          </div>
          <div *ngIf="mainService.usuarioActual?.roles.includes(ROLES.SOPORTE)" style="padding: 5px">
            <button mat-flat-button color="success" (click)="onGetConfiguracion()"
              [disabled]="!cloudStatus && (!isLocal || !localStatus)">
              Configuración del Sistema
            </button>
          </div>
          <button mat-menu-item [matMenuTriggerFor]="sucursales">
            Cambiar sucursal
          </button>
        </mat-menu>
      </div>

      <div fxFlex="10">
        <button mat-icon-button [disabled]="!cloudStatus && (!isLocal || !localStatus)" (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div fxFlex="50">
        <button mat-button [matMenuTriggerFor]="menu" [disabled]="!cloudStatus && (!isLocal || !localStatus)">
          <mat-icon *ngIf="mainService?.usuarioActual?.persona == null" fxFlex>person_outline</mat-icon>
          <div style="text-overflow: ellipsis; font-size: medium" *ngIf="mainService?.usuarioActual?.persona != null">
            Usuario: {{ mainService.usuarioActual.persona.nombre | titlecase }}
          </div>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onLogout()" *ngIf="mainService?.usuarioActual?.persona != null"
            [disabled]="!cloudStatus && (!isLocal || !localStatus)">
            Salir
          </button>
          <button mat-menu-item (click)="onLogin()" *ngIf="mainService?.usuarioActual?.persona == null"
            [disabled]="!cloudStatus && (!isLocal || !localStatus)">
            Entrar
          </button>
        </mat-menu>
      </div>
      <div fxFlex="10">
        <button mat-icon-button class="header-menu-toggle" (click)="onOpenNotifications()"
          [disabled]="!cloudStatus && (!isLocal || !localStatus)">
          <mat-icon>mail</mat-icon>
        </button>
      </div>
    </div>
    <div [fxFlex]="isLocal ? '15' : '10'" fxLayout="column" fxLayoutAlign="center center"
      [class.server-warning]="serverWarning" style="background-color: rgb(32, 32, 32)">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%; padding: 0 5px">
        <div *ngIf="isLocal" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
          <div style="font-size: 0.5em">LOCAL</div>
          <div *ngIf="localStatus == true" style="font-size: 0.6em; color: #43a047">
            Online
          </div>
          <div *ngIf="localStatus == false" [class.blink]="serverWarning && cloudStatus"
            style="font-size: 0.6em; color: #f44336">
            Offline
          </div>
          <div *ngIf="localStatus == null" style="font-size: 0.6em; color: #f44336">
            <mat-spinner diameter="15"></mat-spinner>
          </div>
        </div>
        <div [fxFlex]="isLocal ? '50' : '100'" fxLayout="column" fxLayoutAlign="center center">
          <div style="font-size: 0.5em">CENTRAL</div>
          <div *ngIf="cloudStatus == true" style="font-size: 0.6em; color: #43a047">
            Online
          </div>
          <div *ngIf="cloudStatus == false" [class.blink]="serverWarning && isLocal && localStatus"
            style="font-size: 0.6em; color: #f44336">
            Offline
          </div>
          <div *ngIf="cloudStatus == null" style="font-size: 0.6em; color: #f44336">
            <mat-spinner diameter="15"></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #sucursales="matMenu">
  <a mat-menu-item *ngIf="isDev" (click)="onDevMode(true)">Dev server</a>
  <a mat-menu-item *ngIf="isDev" (click)="onDevMode(false)">Dev sucursal</a>
  <a *ngFor="let sucursal of sucursalList" [class.selected]="sucursal?.id == this.mainService?.sucursalActual?.id"
    mat-menu-item (click)="
      sucursal?.id != this.mainService?.sucursalActual?.id || isDev
        ? cambiarSucursal(sucursal)
        : null
    ">
    {{ sucursal?.id }} - {{ sucursal?.nombre }}
  </a>
</mat-menu>