.novedad-container {
  padding: 16px;

  .tabla-container {
    overflow-x: auto;
  }

  table {
    width: 100%;
    text-align: center;
  }

  th.mat-header-cell,
  td.mat-cell {
    text-align: center;
    padding: 4px 8px;
  }

  .text-left {
    text-align: left;
  }
}
