mat-dialog-content {
  min-width: 460px;
}

h2 {
  margin: 0;
  padding: 0;
}

.mat-mdc-form-field {
  margin-top: 10px !important;
}

mat-dialog-actions {
  padding-right: 0 !important;
}

input {
  text-transform: uppercase;
}