:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }

  .mat-list-item {
    height: 30px;
    font-size: 15px;
  }

  .mat-subheader {
    padding: 10px;
  }
}

.profile-card {
  text-align: center;
  padding-bottom: 0px;
  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.mat-expansion-panel-header.mat-expanded {
  height: 40px;
}

mat-accordion{
  padding-bottom: 5px;
}
