<div class="dialogo-contenedor">
  <div class="dialogo-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-icon class="dialogo-header-icono">{{ selectedTipoGasto?.id != null ? 'edit' : 'add_circle' }}</mat-icon>
      <h3 class="dialogo-titulo" *ngIf="selectedTipoGasto?.id != null">Editar Tipo de Gasto</h3>
      <h3 class="dialogo-titulo" *ngIf="selectedTipoGasto?.id == null">Nuevo Tipo de Gasto</h3>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="16px" class="dialogo-formulario">
    <div fxLayout="row" fxLayoutGap="12px">
      <mat-form-field fxFlex="15%" appearance="outline">
        <mat-label>ID</mat-label>
        <input type="text" matInput [formControl]="idControl" autocomplete="off" />
      </mat-form-field>

      <mat-form-field fxFlex appearance="outline">
        <mat-label>Descripción</mat-label>
        <input type="text" matInput [formControl]="descripcionControl" placeholder="Ej: COMBUSTIBLE, VIÁTICO"
          autocomplete="off" oninput="this.value == ' ' ? this.value = '': null" />
        <mat-icon matSuffix>description</mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Módulo Padre</mat-label>
      <mat-select [formControl]="moduloPadreControl">
        <mat-option *ngFor="let modulo of moduloPadreList" [value]="modulo">
          {{ modulo }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>account_tree</mat-icon>
    </mat-form-field>

    <div class="dialogo-seccion" fxLayout="column" fxLayoutGap="16px">
      <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
        <div class="toggle-container">
          <mat-slide-toggle color="primary" [checked]="activoControl.value" [formControl]="activoControl">
            {{ activoControl.value ? "Activo" : "Inactivo" }}
          </mat-slide-toggle>
        </div>

        <div class="toggle-container">
          <mat-slide-toggle color="primary" [checked]="autorizacionControl.value" [formControl]="autorizacionControl">
            {{ autorizacionControl.value ? "Requiere Autorización" : "Sin Autorización" }}
          </mat-slide-toggle>
        </div>
      </div>

      <mat-form-field style="max-width: 50%;" appearance="outline">
        <mat-label>Cargo Autorizador</mat-label>
        <mat-select [formControl]="cargoControl">
          <mat-optgroup *ngFor="let cargo of listCargo" [label]="cargo.nombre">
            <div *ngIf="cargo.subcargoList != null">
              <mat-option *ngFor="let subcargo of cargo.subcargoList" [value]="subcargo.id">
                {{ subcargo.nombre }}
              </mat-option>
            </div>
          </mat-optgroup>
        </mat-select>
        <mat-icon matSuffix>badge</mat-icon>
      </mat-form-field>
    </div>

    <div class="dialogo-seccion">
      <span class="dialogo-seccion-titulo">Naturaleza del Gasto</span>
      <mat-button-toggle-group [formControl]="naturezaControl" name="naturezaGasto" aria-label="Naturaleza del Gasto"
        class="naturaleza-toggle-group">
        <mat-button-toggle value="VARIABLE" class="naturaleza-toggle">
          <mat-icon>trending_up</mat-icon>
          <span>Variable / Ocasional</span>
          <small>Agua, luz, viático</small>
        </mat-button-toggle>
        <mat-button-toggle value="CONTINUO" class="naturaleza-toggle">
          <mat-icon>autorenew</mat-icon>
          <span>Continuo / Recurrente</span>
          <small>Alquiler, seguro, inmueble</small>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div *ngIf="selectedTipoGasto?.id != null" class="dialogo-seccion" fxLayout="column" fxLayoutGap="12px">
      <span class="dialogo-seccion-titulo">Auditoría</span>
      <mat-form-field appearance="outline">
        <mat-label>Creado En</mat-label>
        <input type="text" matInput [formControl]="creadoEnControl" autocomplete="off" />
        <mat-icon matSuffix>calendar_today</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Creado Por</mat-label>
        <input type="text" matInput [formControl]="usuarioControl" autocomplete="off" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="dialogo-acciones" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end center">
    <button mat-stroked-button (click)="onCancel()" type="button">
      Cancelar
    </button>
    <button mat-raised-button color="accent" [disabled]="!descripcionControl.valid || !moduloPadreControl.valid" (click)="onSave()" type="button">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </div>
</div>