<app-generic-list [data]="(listaFiltrada$ | async) || []" (filtrar)="onBuscar()" (adicionar)="agregarNuevo()" (resetFiltro)="onLimpiar()" [isAdicionar]="true">
  <div filtros>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" style="width: 100%">
      <mat-form-field fxFlex="40%" [formGroup]="searchFormGroup" appearance="outline">
        <mat-label>Buscar (ID o Descripción)</mat-label>
        <input matInput formControlName="texto" placeholder="Ingrese texto a buscar..." (keyup.enter)="onBuscar()" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>

      <mat-form-field fxFlex="35%" [formGroup]="searchFormGroup" appearance="outline">
        <mat-label>Módulo padre</mat-label>
        <mat-select formControlName="moduloPadre">
          <mat-option [value]="null">Todos</mat-option>
          <mat-option *ngFor="let modulo of modulosPadreOpciones" [value]="modulo.valor">
            {{ modulo.etiqueta }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>account_tree</mat-icon>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start end" class="tabs-naturaleza">
      <button
        *ngFor="let etiqueta of tabEtiquetas; let i = index"
        mat-button
        type="button"
        [class.tab-activa]="esTabActiva(i, (tabActiva$ | async) ?? 0)"
        (click)="cambiarTab(i)"
      >
        {{ etiqueta | uppercase }}
      </button>
    </div>
  </div>

  <div table style="height: 100%; background-color: rgb(40, 40, 40)" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex="100%" fxLayout="column" fxLayoutAlign="space-between start" style="height: 100%;">
      <table mat-table [dataSource]="(listaFiltrada$ | async) || []" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef style="width: 5%">ID</th>
          <td mat-cell *matCellDef="let item" style="width: 5%">{{ item.id }}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let item">{{ item.descripcion | uppercase }}</td>
        </ng-container>

        <ng-container matColumnDef="tipoNaturaleza">
          <th mat-header-cell *matHeaderCellDef>Naturaleza</th>
          <td mat-cell *matCellDef="let item">
            <span
              *ngIf="item.tipoNaturaleza"
              [style.color]="coloresNaturaleza[item.tipoNaturaleza]"
              style="font-weight: 500;"
            >
              {{ item.tipoNaturaleza }}
            </span>
            <span *ngIf="!item.tipoNaturaleza" style="color: #666;">-</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="clasificacion">
          <th mat-header-cell *matHeaderCellDef>Módulo padre</th>
          <td mat-cell *matCellDef="let item" style="color: #aaa;">
            {{ item.moduloPadre | etiquetaModuloPadre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="comportamiento">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">Comportamiento</th>
          <td mat-cell *matCellDef="let item" style="text-align: center">
            <mat-icon
              *ngIf="item.esPagoCuotaActivo"
              matTooltip="Habilita cuotas del activo"
              style="color: #42a5f5;"
            >
              event_note
            </mat-icon>
            <mat-icon
              *ngIf="item.afectaFinanzasActivo"
              matTooltip="Afecta finanzas del activo"
              style="color: #ffa726;"
            >
              account_balance_wallet
            </mat-icon>
            <span *ngIf="!item.esPagoCuotaActivo && !item.afectaFinanzasActivo" style="color: #666;">-</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="autorizacion">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">Req. Aut.</th>
          <td mat-cell *matCellDef="let item" style="text-align: center">
            <mat-icon [style.color]="item.autorizacion ? '#ff9800' : '#4CAF50'">
              {{ item.autorizacion ? 'lock' : 'lock_open' }}
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="activo">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">Activo</th>
          <td mat-cell *matCellDef="let item" style="text-align: center">
            <mat-icon [style.color]="item.activo ? '#4CAF50' : '#f44336'">
              {{ item.activo ? 'check_circle' : 'cancel' }}
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="activoEnSucursales">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">Activo Suc.</th>
          <td mat-cell *matCellDef="let item" style="text-align: center">
            <mat-icon [style.color]="item.activoEnSucursales ? '#4CAF50' : '#f44336'">
              {{ item.activoEnSucursales ? 'check_circle' : 'cancel' }}
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="width: 10%; text-align: center">Acciones</th>
          <td mat-cell *matCellDef="let item" style="text-align: center">
            <button mat-icon-button (click)="$event.stopPropagation(); editarItem(item)" color="primary" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="$event.stopPropagation(); eliminarItem(item)" color="warn" matTooltip="Eliminar">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnasVisibles; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasVisibles;" class="example-element-row"></tr>
      </table>

      <mat-paginator
        itemsPerPageLabel="Items por página"
        [pageSizeOptions]="[15, 30, 50, 100]"
        (page)="handlePageEvent($event)"
        [length]="(totalElements$ | async) || 0"
        [pageIndex]="(pagination$ | async)?.pageIndex"
        [pageSize]="(pagination$ | async)?.pageSize"
        style="width: 100%; border-top: 1px solid rgba(255, 255, 255, 0.1);"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</app-generic-list>
