<div
  fxLayout="column"
  fxLayoutAlign="center center"
  [style.height.px]="windowInfo.innerHeight * 0.85"
>
  <div fxFlex="5" fxLayout="row">
    <div fxFlex>
      <button mat-raised-button (click)="downloadAsPDF()">imprimir</button>
    </div>
    <div fxFlex>
      <button mat-raised-button (click)="zoomIn()">+</button>
    </div>
    <div fxFlex>
      <button mat-raised-button (click)="zoomOut()">-</button>
    </div>
    <div fxFlex>
      <button mat-raised-button (click)="paginaSiguiente()">Siguiente</button>
    </div>
    <div fxFlex>
      <button mat-raised-button (click)="paginaAnterior()">Anterior</button>
    </div>
  </div>
  <div
    fxFlex
    style="overflow-y: scroll"
    *ngFor="let pagina of paginas; let i = index"
    attr.id="pdf{{i}}"
    [style.display]="pagina != paginas[counter] ? 'none': 'inline-block'"
  >
    <div
      style="background-color: white; color: black"
      [style.width.mm]="widthContainer"
      [style.height.mm]="heightContainer"
      [style.display]=""
      fxLayout="column"
    >
      <div fxFlex="20%" [style.fontSize.em]="fontSize">{{ pagina }}</div>
      <div
        fxFlex="20%"
        style="width: 100%; height: 100%; background-color: blue"
      >
        Subtitulo
      </div>
      <div fxFlex="20%">headers</div>
      <div fxFlex="20%">Datos</div>
      <div fxFlex="20%">footer</div>
    </div>
  </div>
</div>
