<div class="vacacion-container" fxLayout="column" fxLayoutGap="12px">

  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Vacaciones</h2>
  </div>

  <div class="filtros" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
    <mat-form-field fxFlex="280px">
      <mat-label>Funcionario</mat-label>
      <mat-select [formControl]="funcionarioControl">
        <mat-option *ngFor="let f of funcionarioOpciones" [value]="f.id">{{ f.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onBuscar()">
      <mat-icon>search</mat-icon> Buscar
    </button>
    <button mat-stroked-button color="accent" (click)="onDevengar()" matTooltip="Genera la vacación del año de servicio actual según antigüedad">
      <mat-icon>event_available</mat-icon> Devengar año actual
    </button>
  </div>

  <div class="tabla-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
      <ng-container matColumnDef="anioServicio">
        <th mat-header-cell *matHeaderCellDef>Año servicio</th>
        <td mat-cell *matCellDef="let row">{{ row.anioServicio }}</td>
      </ng-container>
      <ng-container matColumnDef="diasGenerados">
        <th mat-header-cell *matHeaderCellDef>Generados</th>
        <td mat-cell *matCellDef="let row">{{ row.diasGenerados }}</td>
      </ng-container>
      <ng-container matColumnDef="diasGozados">
        <th mat-header-cell *matHeaderCellDef>Gozados</th>
        <td mat-cell *matCellDef="let row">{{ row.diasGozados }}</td>
      </ng-container>
      <ng-container matColumnDef="disponibles">
        <th mat-header-cell *matHeaderCellDef>Disponibles</th>
        <td mat-cell *matCellDef="let row">{{ row.disponibles }}</td>
      </ng-container>
      <ng-container matColumnDef="prescrita">
        <th mat-header-cell *matHeaderCellDef>Prescrita</th>
        <td mat-cell *matCellDef="let row"><mat-icon *ngIf="row.prescrita" color="warn">warning</mat-icon></td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-stroked-button color="primary" (click)="onGestionar(row)">
            <mat-icon>date_range</mat-icon> Gestionar
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
