<div>
  <form [formGroup]="formGroup">
    <div fxLayout="column" fxLayoutAlign="start">
      <div fxFlex style="width: 100%; text-align: center">
        <h3 *ngIf="selectedFacturaLegalItem?.id != null">Editar Item</h3>
        <h3 *ngIf="selectedFacturaLegalItem?.id == null">Nuevo Item</h3>
      </div>
      <div fxFlex fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="20%">
          <mat-form-field>
            <mat-label>Cantidad</mat-label>
            <input type="number" matInput [formControl]="cantidadControl" />
          </mat-form-field>
        </div>
        <div fxFlex="60%">
          <mat-form-field style="width: 100%">
            <mat-label>Descripción</mat-label>
            <input
              #nombreInput
              type="text"
              matInput
              formControlName="descripcion"
              autocomplete="off"
              oninput="this.value == ' ' ? this.value = '': null"
            />
          </mat-form-field>
        </div>
        <div fxFlex="20%">
          <mat-form-field>
            <mat-label>Precio Unit.</mat-label>
            <input type="number" matInput [formControl]="precioUnitario" />
          </mat-form-field>
        </div>
      </div>
      <br />
      <div fxFlex fxLayout="row">
        <div fxFlex="50%" style="text-align: center">
          <button
            style="width: 70%"
            mat-raised-button
            [color]="isEditting ? 'accent' : 'primary'"
            [disabled]="isEditting ? !formGroup.valid : false"
            (click)="
              isEditting ? onSave() : (isEditting = true);
              formGroup.enable();
              nombreInput.focus()
            "
          >
            {{ isEditting ? "Guardar" : "Editar" }}
          </button>
        </div>
        <div fxFlex="50%" style="text-align: center">
          <button
            style="width: 70%"
            mat-raised-button
            color="primary"
            (click)="onCancel()"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
