<mat-card
  style="
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  "
>
  <table class="table">
    <thead>
      <tr style="background-color: rgb(209, 209, 209)">
        <th scope="col" style="text-align: center; width: 5%">#</th>
        <th scope="col" style="width: 50%">Descripción</th>
        <th scope="col" style="text-align: center; width: 10%">Tipo</th>
        <th scope="col" style="text-align: center; width: 5%">Cant</th>
        <th scope="col" style="text-align: center; width: 10%">Precio</th>
        <th scope="col" style="text-align: center; width: 10%">Desc</th>
        <th scope="col" style="text-align: center; width: 10%">Total</th>
        <th scope="col" style="text-align: center; width: 5%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemList; let i = index">
        <td style="padding-bottom: 5px; padding-top: 5px; text-align: center">
          {{ i + 1 }}
        </td>
        <td
          style="padding-bottom: 0; padding-top: 5px; width: 100%"
          (click)="editItem(item, i)"
        >
          {{ item?.producto?.descripcion }}
        </td>
        <td style="padding-bottom: 5px; padding-top: 5px; text-align: center">
          {{ item.precioVenta?.tipoPrecio?.descripcion?.substring(0, 4) }}({{
            item.presentacion?.cantidad
          }})
        </td>
        <td style="padding-bottom: 5px; padding-top: 5px; text-align: center">
          {{ item.cantidad | number : "1.0-3" }}
        </td>
        <td style="padding-bottom: 5px; padding-top: 5px; text-align: center">
          {{ item.precio | number : "1.0-0" }}
        </td>
        <td style="padding-bottom: 5px; padding-top: 5px; text-align: center">
          {{ item.valorDescuento | number : "1.0-0" }}
        </td>
        <td style="padding-bottom: 5px; padding-top: 5px; text-align: center">
          {{
            item.cantidad * (item.precio - item.valorDescuento)
              | number : "1.0-0"
          }}
        </td>
        <td
          style="padding-bottom: 5px; padding-top: 5px; text-align: center"
          (click)="removeItem(item, i)"
        >
          <mat-icon style="color: red; font-size: 1.5em; cursor: pointer"
            >clear</mat-icon
          >
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>
