.title {
  text-align: start;
  color: #f57c00;
}

.item {
  text-align: start;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row:hover {
  background-color: rgb(34, 34, 34);
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.sin-cambios {
  background-color: #43a047 !important;
}

.con-cambios {
  background-color: #f57c00 !important;
}

.rechazado {
  background-color: #f44336 !important;
}

.raised-button:hover {
  color: #43a047;
  cursor: pointer;
}





