.title {
  text-align: start;
  color: #f57c00;
}

.item {
  text-align: start;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}
