.title {
  text-align: start;
  color: #f57c00;
}

.item {
  text-align: start;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row:hover {
  background-color: rgb(34, 34, 34);
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.sin-cambios {
  background-color: #43a047 !important;
}

.con-cambios {
  background-color: #f57c00 !important;
}

.rechazado {
  background-color: #f44336 !important;
}

.raised-button:hover {
  color: #43a047;
  cursor: pointer;
}

mat-form-field {
  font-size: 10px;
}

input {
  text-transform: uppercase;
}

.shrinking-mat-form-field {
  height: 30px !important;

  ::ng-deep .mat-mdc-form-field-infix {
    transform: translateY(-10px) !important;
  }

  ::ng-deep .mat-mdc-input-element {
    font-size: 15px;
  }

  ::ng-deep.mat-mdc-form-field-text-prefix {
    transform: translateY(-10px) !important;
    font-size: small;
  }
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text-1 {
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  font-family: Roboto;
  letter-spacing: 0.25px;
  line-height: 20px;
  color: white;
}

.text-2 {
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
  font-family: Roboto;
  letter-spacing: 0.4000000059604645px;
  line-height: 16px;
  color: rgb(176, 176, 176);
}

