@import '../styles/grafico-filtros';

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.venta-funcionario-layout {
  border-radius: 8px;

  &__grafico {
    flex: 1;
    min-height: 0;
  }
}
