<div class="reportes-container" fxLayout="column" fxLayoutGap="16px">

  <div class="header" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
    <h2>Reportes RRHH</h2>
    <span fxFlex></span>
    <mat-form-field fxFlex="160px">
      <mat-label>Período</mat-label>
      <input matInput [formControl]="periodoControl" placeholder="YYYY-MM" />
    </mat-form-field>
  </div>

  <mat-progress-bar *ngIf="generando" mode="indeterminate"></mat-progress-bar>

  <div class="cards" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div class="card" *ngFor="let r of reportes" fxFlex="0 1 calc(50% - 16px)">
      <div class="card-top" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon color="primary">{{ r.icon }}</mat-icon>
        <span class="titulo">{{ r.titulo }}</span>
      </div>
      <p class="descripcion">{{ r.descripcion }}</p>
      <button mat-raised-button color="primary" [disabled]="generando" (click)="onGenerar(r.accion)">
        <mat-icon>picture_as_pdf</mat-icon> Generar PDF
      </button>
    </div>
  </div>
</div>
