<div class="container">
  <form [formGroup]="formGroup">
    <div fxLayout="column" fxFlexAlign="start center" style="width: 100%">
      <div fxFlex style="width: 100%; text-align: center;">
        <h3 *ngIf="selectedPersona == null">Nueva Persona</h3>
        <h3 *ngIf="selectedPersona != null">{{selectedPersona.nombre | titlecase}}</h3>
      </div>
      <div fxFlex fxLayout="row" fxFlexAlign="space-around center">
        <div fxFlex="50">
          <mat-form-field style="width: 90%" class="form-element">
            <input matInput placeholder="Nombre" formControlName="nombre" />
          </mat-form-field>
          <mat-error
            *ngIf="
              !formGroup.controls['nombre'].valid &&
              formGroup.controls['nombre'].touched
            "
          >
            <h6>Este campo es obligatorio.</h6>
          </mat-error>
        </div>

        <div fxFlex="50" fxFlexAlign="space-around center">
          <mat-form-field style="width: 90%" class="form-element">
            <input matInput placeholder="Apodo" formControlName="apodo" />
          </mat-form-field>
        </div>
      </div>

      <div fxFlex fxLayout="row" fxFlexAlign="space-around center">
        <div fxFlex="50">
          <mat-form-field
            style="width: 90%"
            class="form-element"
            style="width: 50%"
          >
            <input matInput placeholder="C.I." formControlName="documento" />
          </mat-form-field>
          <mat-error
            *ngIf="
            !formGroup.controls['documento'].valid &&
            formGroup.controls['documento'].touched
          "
          >
          <h6>Este campo es obligatorio.</h6>
        </mat-error>
        </div>

        <div fxFlex="50" fxFlexAlign="space-around center">
          <mat-form-field style="width: 90%" class="form-element">
            <input matInput placeholder="Teléfono" formControlName="telefono" />
          </mat-form-field>
          <mat-error
            *ngIf="
            !formGroup.controls['telefono'].valid &&
            formGroup.controls['telefono'].touched
          "
          >
          <h6>Número de teléfono no válido.</h6>
        </mat-error>
        </div>
      </div>

      <div fxFlex fxLayout="row" fxFlexAlign="space-around center">
        <div fxFlex="50">
          <mat-form-field style="width: 90%" class="form-element">
            <input
              matInput
              placeholder="Dirección"
              formControlName="direccion"
            />
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlexAlign="space-around center">
          <mat-form-field style="width: 90%">
            <input
              type="text"
              placeholder="Ciudad"
              aria-label="Ciudad"
              matInput
              [matAutocomplete]="autoCiudad"
              formControlName="ciudad"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #autoCiudad="matAutocomplete"
            >
              <mat-option
                *ngFor="let ciudad of ciudadFilteredOptions | async"
                [value]="ciudad"
              >
                {{ ciudad }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex fxLayout="row" fxFlexAlign="space-around center">
        <div fxFlex="35">
          <mat-form-field style="width: 60%" class="form-element">
            <input
              matInput
              placeholder="Usuario en Facebook"
              formControlName="socialMedia"
            />
          </mat-form-field>
        </div>

        <div fxFlex="15">
          <button mat-button color="primary" (click)="verificarFacebook()">
            <h6 style="padding-top: 15px">Verificar</h6>
          </button>
        </div>

        <div fxFlex="50">
          <mat-form-field style="width: 90%">
            <input
              type="text"
              placeholder="Sexo"
              aria-label="Sexo"
              matInput
              [matAutocomplete]="autoSexo"
              formControlName="sexo"
            />
            <mat-autocomplete #autoSexo="matAutocomplete" autoActiveFirstOption>
              <mat-option
                *ngFor="let sexo of sexoFilteredOptions | async"
                [value]="sexo"
              >
                {{ sexo }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex fxLayout="row" fxFlexAlign="space-around center">
        <div fxFlex="50">
          <mat-form-field style="width: 90%">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" [max]="maxDate" (dateChange)="onFechaNacimienntoChange($event)" formControlName="nacimiento"/>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="50">
          <mat-form-field class="form-element" style="width: 90%">
            <input matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
        </div>
      </div>

      <br />

      <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        style="width: 100%"
      >
        <div fxFlex="20">
          <button
            style="width: 100%"
            mat-raised-button
            color="primary"
            type="button"
            (click)="onCancel()"
          >
            Cancelar
          </button>
        </div>
        <div fxFlex="20">
          <button
            style="width: 100%"
            mat-raised-button
            color="accent"
            [disabled]="!formGroup.valid"
            type="button"
            (click)="onSave()"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
