<div style="padding: 20px">
  <form [formGroup]="formGroup">
    <div fxLayout="column" fxLayoutAlign="start">
      <div fxFlex style="width: 100%; text-align: center">
        <h3 *ngIf="selectedPrecioPorSucursal?.id != null">Editar Precio</h3>
        <h3 *ngIf="selectedPrecioPorSucursal?.id == null && !esPromocion">Nuevo Precio</h3>
        <h3 *ngIf="selectedPrecioPorSucursal?.id == null && esPromocion">Nueva Promoción</h3>
      </div>
      <div fxFlex>
        <mat-form-field style="width: 100%">
          <mat-label>Precio</mat-label>
          <input
            #precioInput
            type="text"
            matInput
            formControlName="precio"
            autocomplete="off"
            oninput="this.value == ' ' ? this.value = '': null"
          />
          <mat-error *ngIf="precioControl.hasError('required')">
            El precio es obligatorio
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field style="width: 100%">
          <mat-label>Tipo Precio</mat-label>
          <mat-select #tipoPrecioSelect formControlName="tipoPrecio">
            <mat-option
              *ngFor="let tipoPrecio of tipoPrecioList"
              [value]="tipoPrecio.id"
            >
              {{ tipoPrecio?.descripcion }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="tipoPrecioControl.hasError('required')">
            El tipo de precio es obligatorio
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Selector de Sucursales para Promociones -->
      <div fxFlex *ngIf="mostrarSelectorSucursales">
        <mat-form-field style="width: 100%">
          <mat-label>Sucursales</mat-label>
          <mat-select #sucursalSelect multiple formControlName="sucursales">
            <mat-select-trigger>
              {{(sucursalesControl.value?.[0]?.nombre || '')}}
              <span
                *ngIf="(sucursalesControl.value?.length || 0) > 1"
                class="example-additional-selection"
              >
                (+{{ (sucursalesControl.value?.length || 0) - 1 }}
                {{ sucursalesControl.value?.length === 2 ? "otro" : "otros" }})
              </span>
            </mat-select-trigger>
            <div
              style="
                width: 100%;
                text-align: end;
                padding-right: 10px;
                padding-top: 10px;
                font-size: 0.8em;
                color: white;
              "
            >
              <mat-icon (click)="sucursalSelect.close()">clear</mat-icon>
            </div>
            <mat-option [value]="null">Todas</mat-option>
            <mat-option
              *ngFor="let sucursal of sucursalesList"
              [value]="sucursal"
            > {{ sucursal.id}} -
              {{ sucursal.nombre | titlecase }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="sucursalesControl.hasError('sucursalesRequeridas')">
            Seleccione al menos una sucursal para la promoción
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" style="height: 50px !important; padding-left: 20px;">
        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start center" *ngIf="!esPromocion">
          <mat-label fxFlex="40">Principal</mat-label>
          <mat-slide-toggle fxFlex formControlName="principal">
            {{ principalControl.value == true ? "Si" : "No" }}</mat-slide-toggle
          >
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start center" *ngIf="!esPromocion">
          <mat-label fxFlex="30">Activo</mat-label>
          <mat-slide-toggle fxFlex formControlName="activo">{{
            activoControl.value == true ? "Si" : "No"
          }}</mat-slide-toggle>
        </div>
      </div>
      <br />
      <div fxFlex fxLayout="row">
        <div fxFlex="50%" style="text-align: center">
          <button
            style="width: 70%"
            mat-raised-button
            color="primary"
            (click)="onCancelar()"
          >
            Cancelar
          </button>
        </div>
        <div fxFlex="50%" style="text-align: center">
          <button
            style="width: 70%"
            mat-raised-button
            [color]="isEditting ? 'accent' : 'primary'"
            (click)="isEditting ? onSave() : onEditar()"
          >
            {{ isEditting ? "Guardar" : "Editar" }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
