<app-generic-list [data]="(inmuebles$ | async) || []" (filtrar)="onFiltrar()" (resetFiltro)="resetFiltro()"
  (adicionar)="onAdicionar()" [isAdicionar]="true">
  <div filtros>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px" style="width: 100%">
      <div fxFlex="45">
        <mat-form-field style="width: 100%">
          <mat-label>Filtro rápido (Nombre o dirección)</mat-label>
          <input type="text" matInput [formControl]="filtroControl" (keyup.enter)="onFiltrar()" placeholder="Ej: Local Centro" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div table style="height: 100%; background-color: rgb(70, 70, 70)" fxLayout="column"
    fxLayoutAlign="space-between start">
    <table mat-table [dataSource]="(inmuebles$ | async) || []" class="mat-elevation-z8" style="width: 100%">
      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 5%">Id</th>
        <td mat-cell *matCellDef="let row" style="text-align: center; width: 5%">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nombreAsignado">
        <th mat-header-cell *matHeaderCellDef>Nombre/Apodo</th>
        <td mat-cell *matCellDef="let row">{{ row.nombreAsignado }}</td>
      </ng-container>

      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef>Dirección</th>
        <td mat-cell *matCellDef="let row">{{ row.direccion }}</td>
      </ng-container>

      <ng-container matColumnDef="paisCity">
        <th mat-header-cell *matHeaderCellDef>Ubicación</th>
        <td mat-cell *matCellDef="let row">{{ row.ciudad?.descripcion }}, {{ row.pais?.descripcion }}</td>
      </ng-container>

      <ng-container matColumnDef="propietario">
        <th mat-header-cell *matHeaderCellDef>Propietario</th>
        <td mat-cell *matCellDef="let row">{{ row.propietario?.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="tasacion">
        <th mat-header-cell *matHeaderCellDef style="text-align: right">Tasación</th>
        <td mat-cell *matCellDef="let row" style="text-align: right; line-height: 1.3;">
            <span style="font-weight: 600;">{{ row.valorTasacion | currency:'USD':'symbol':'1.0-0' }}</span>
            <br *ngIf="row.valorTasacionPyg || row.valorTasacionBrl">
            <span *ngIf="row.valorTasacionPyg || row.valorTasacionBrl" style="font-size: 0.75em; opacity: 0.6;">
                <span *ngIf="row.valorTasacionPyg">₲ {{ row.valorTasacionPyg | number:'1.0-0' }}</span>
                <span *ngIf="row.valorTasacionPyg && row.valorTasacionBrl"> | </span>
                <span *ngIf="row.valorTasacionBrl">R$ {{ row.valorTasacionBrl | number:'1.2-2' }}</span>
            </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="width: 5%; text-align: center">...</th>
        <td mat-cell *matCellDef="let row" style="text-align: center; width: 5%">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onEditar(row)">Editar</button>
            <button mat-menu-item>Generar Gasto Recurrente</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator itemsPerPageLabel="Itens por pagina" [pageSizeOptions]="[15, 25, 50, 100]"
      (page)="handlePageEvent($event)" [length]="(inmuebleService.paginationState$ | async)?.totalElements || 0"
      [pageIndex]="(inmuebleService.paginationState$ | async)?.pageIndex || 0"
      [pageSize]="(inmuebleService.paginationState$ | async)?.pageSize || 15" style="width: 100%"
      showFirstLastButtons></mat-paginator>
  </div>
</app-generic-list>
