<app-generic-list
  [data]="dataSource.data"
  (cargarMasDatos)="cargarMasDatos()"
  [isLastPage]="isLastPage || isSearching"
  (filtrar)="onFiltrar()"
  (adicionar)="onAddUsuario()"
  [isAdicionar]="true"
>
  <div filtros>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" style="width: 100%;">
      <div fxFlex="50%">
        <mat-form-field style="width: 90%;">
          <mat-label>Nombre o nickname</mat-label>
          <input #buscar type="text" matInput [formControl]="buscarControl" (keyup.enter)="onFiltrar()">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div table>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
      style="width: 100%"
    >
      <ng-container matColumnDef="id" style="width: 5%">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center; width: 5%"
        >
          Id
        </th>
        <td
          mat-cell
          *matCellDef="let usuario"
          style="text-align: center; width: 5%"
        >
          {{ usuario?.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Nombre
        </th>
        <td mat-cell *matCellDef="let usuario" style="text-align: center">
          {{ usuario?.persona?.nombre | uppercase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nickname">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Nickname
        </th>
        <td mat-cell *matCellDef="let usuario" style="text-align: center">
          {{ usuario?.nickname | uppercase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Teléfono
        </th>
        <td mat-cell *matCellDef="let usuario" style="text-align: center">
          {{ usuario?.persona?.telefono }}
        </td>
      </ng-container>

      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Activo
        </th>
        <td mat-cell *matCellDef="let usuario" style="text-align: center">
          {{ usuario?.activo ? "Si" : "No" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="creadoEn">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Creado en
        </th>
        <td mat-cell *matCellDef="let usuario" style="text-align: center">
          {{ usuario?.creadoEn | date: "short" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 5%; text-align: center"
        >
          ...
        </th>
        <td
          mat-cell
          *matCellDef="let usuario; let i = index"
          style="text-align: center; width: 5%"
        >
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onAddUsuario(usuario, i)">
              Editar
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <mat-divider></mat-divider>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let usuario"
          [attr.colspan]="displayedColumns.length"
          class="expanded"
        >
          <div
            class="example-usuario-detail"
            [@detailExpand]="
              usuario == expandedUsuario ? 'expanded' : 'collapsed'
            "
            style="text-align: center"
            fxLayout="column"
            fxLayoutAlign="start start"
          ></div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = dataIndex"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
  </div>
</app-generic-list>
