<div fxLayout="row wrap" style="width: 100%; padding: 20px !important;" fxLayoutGap="20px">
  <mat-card
    appearance="outlined"
    fxFlex="15"
    fxLayout="row"
    fxLayoutAlign="start center"
    *ngIf="selectedCaja != null"
    style="
      width: 100%;
      height: 100px;
      padding: 5px;
      background-color: #f44336;
      text-align: center;
      cursor: pointer;
    "
    (click)="cerrarCaja()"
  >
    <p fxFlex style="width: 100%; text-align: center">Cerrar Caja</p>
  </mat-card>

  <mat-card
    appearance="outlined"
    fxFlex="15"
    fxLayout="row"
    fxLayoutAlign="start center"
    *ngIf="selectedCaja != null"
    style="
      width: 100%;
      height: 100px;
      padding: 5px;
      background-color: #f44336;
      text-align: center;
      cursor: pointer;
    "
    (click)="retiro()"
  >
    <p fxFlex style="width: 100%; text-align: center">Retiro</p>
  </mat-card>

  <mat-card
    appearance="outlined"
    fxFlex="15"
    fxLayout="row"
    fxLayoutAlign="start center"
    *ngIf="selectedCaja != null"
    style="
      width: 100%;
      height: 100px;
      padding: 5px;
      background-color: #f44336;
      text-align: center;
      cursor: pointer;
    "
    (click)="gasto()"
  >
    <p fxFlex style="width: 100%; text-align: center">Gasto</p>
  </mat-card>

  <mat-card
    appearance="outlined"
    fxFlex="15"
    fxLayout="row"
    fxLayoutAlign="start center"
    *ngIf="selectedCaja != null"
    style="
      width: 100%;
      height: 100px;
      padding: 5px;
      background-color: #f44336;
      text-align: center;
      cursor: pointer;
    "
    (click)="cancelacionVenta()"
  >
    <p fxFlex style="width: 100%; text-align: center">Cancelación de venta</p>
  </mat-card>

  <mat-card
    appearance="outlined"
    fxFlex="15"
    fxLayout="row"
    fxLayoutAlign="start center"
    *ngIf="selectedCaja != null"
    style="
      width: 100%;
      height: 100px;
      padding: 5px;
      background-color: #f44336;
      text-align: center;
      cursor: pointer;
    "
    (click)="reimpresionVenta()"
  >
    <p fxFlex style="width: 100%; text-align: center">Reimpresión de ticket</p>
  </mat-card>

  <mat-card
    appearance="outlined"
    fxFlex="15"
    fxLayout="row"
    fxLayoutAlign="start center"
    *ngIf="selectedCaja != null"
    style="
      width: 100%;
      height: 100px;
      padding: 5px;
      background-color: #f44336;
      text-align: center;
      cursor: pointer;
    "
    (click)="garantia()"
  >
    <p fxFlex style="width: 100%; text-align: center">Garantía y Devolución</p>
  </mat-card>
</div>
