<div fxLayout="row wrap" style="width: 100%" fxLayoutGap="20px">
  <div fxFlex="15" *ngIf="selectedCaja != null">
    <button
      mat-raised-button
      color="primary"
      style="width: 100%; height: 100px"
      (click)="cerrarCaja()"
    >
      Cerrar Caja
    </button>
  </div>
  <div fxFlex="15" *ngIf="selectedCaja != null">
    <button
      mat-raised-button
      color="primary"
      style="width: 100%; height: 100px"
      (click)="retiro()"
    >
      Retiro
    </button>
  </div>
  <div fxFlex="15" *ngIf="selectedCaja != null">
    <button
      mat-raised-button
      color="primary"
      style="width: 100%; height: 100px"
      (click)="gasto()"
    >
      Gasto
    </button>
  </div>
  <div fxFlex="15" *ngIf="selectedCaja != null">
    <button
      mat-raised-button
      color="primary"
      style="width: 100%; height: 100px; text-align: center; padding: 10px;"
      (click)="cancelacionVenta()"
    >
      Cancelación
      de venta
    </button>
  </div>

  <div fxFlex="15" *ngIf="selectedCaja != null">
    <button
      mat-raised-button
      color="primary"
      style="width: 100%; height: 100px; text-align: center; padding: 10px;"
      (click)="reimpresionVenta()"
    >
      Reimpresión
      de ticket
    </button>
  </div>
</div>
