mat-dialog-content {
  max-height: 70vh;
  padding-top: 16px;
}

form {
  width: 100%;
}

mat-dialog-actions {
  margin-top: 8px;
}

input.mat-input-element {
  color: white;
}

mat-form-field {
  width: 100%;
} 

input {
  text-transform: none !important;
}