tr:focus{
    outline: none;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
word-wrap: initial;
display: table-cell;
padding: 0px 10px;
line-break: unset;
/* width: 100%; */
white-space: nowrap;
overflow: hidden;
vertical-align: middle;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.highlight{
background: #42A948;
}


.selectedCard {
background-color: #43A047 !important;
}

.expanded:hover {
background-color: rgb(51, 51, 51) !important;
}

.tableRows:hover {
background-color: rgb(51, 51, 51) !important;
}

input {
  text-transform: uppercase;
}

.separator-horizontal-bottom {
  padding-left: 3px;
  padding-right: 3px;
  box-shadow: 0 1px 0 0 rgba(133, 133, 133, 0.133);
}

.info-stock {
  padding: 5px; 
  border-bottom: 1px solid #444;
}

.ajuste-stock {
  font-size: 0.9em; 
  line-height: 1.2;
}

.cantidad-previa {
  color: #f44336; 
  margin-left: 5px;
  font-weight: 500;
}

.stock-final {
  color: #ff9800; 
  font-weight: bold;
}

.info-container {
  width: 100%;
  text-align: center;
  background-color: rgb(52, 52, 52);
  padding: 8px;
  margin-top: 10px;
}

.detalle-container {
  width: 100%;
  text-align: center;
  background-color: rgb(52, 52, 52);
  padding: 10px;
}

.movimiento-container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: rgb(32, 32, 32);
}