tr:focus{
    outline: none;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
word-wrap: initial;
display: table-cell;
padding: 0px 10px;
line-break: unset;
/* width: 100%; */
white-space: nowrap;
overflow: hidden;
vertical-align: middle;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.highlight{
background: #42A948;
}


.selectedCard {
background-color: #43A047 !important;
}

.expanded:hover {
background-color: rgb(51, 51, 51) !important;
}

.tableRows:hover {
background-color: rgb(51, 51, 51) !important;
}

input {
  text-transform: uppercase;
}

.separator-horizontal-bottom {
  padding-left: 3px;
  padding-right: 3px;
  box-shadow: 0 1px 0 0 rgba(133, 133, 133, 0.133);
}
