tr:focus{
    outline: none;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}


.example-entrada-row td {
  border-bottom-width: 0;
}

.example-entrada-detail {
  overflow: hidden;
  display: flex;
  background-color: none !important;
}

.example-entrada-detail:hover {
  background-color: none;
}

.example-salida-row td {
  border-bottom-width: 0;
}

.example-salida-detail {
  overflow: hidden;
  display: flex;
  background-color: none !important;
}

.example-salida-detail:hover {
  background-color: none;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
word-wrap: initial;
display: table-cell;
padding: 0px 10px;
line-break: unset;
/* width: 100%; */
white-space: nowrap;
overflow: hidden;
vertical-align: middle;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.highlight{
background: #42A948;
}


.selectedCard {
background-color: #43A047 !important;
}

.expanded:hover {
background-color: rgb(51, 51, 51) !important;
}

.tableRows:hover {
background-color: rgb(51, 51, 51) !important;
}

.productoLink:hover {
  color: #42A948 !important;
}

.estado {
  color: #42A948 !important;
}

.centerText {
  text-align: center;
}

input {
  text-transform: uppercase;
}