<div class="ventas-dias-container grafico-pantalla">
  <div class="grafico-filtros">
    <mat-form-field
      appearance="outline"
      class="grafico-filtros__campo grafico-filtros__campo--sucursal"
    >
      <mat-label>Sucursales</mat-label>
      <mat-select
        [formControl]="filtroSucursales.control"
        multiple
        placeholder="Todas las sucursales"
        (selectionChange)="filtroSucursales.onSeleccionChange($event.value)"
      >
        <mat-option [value]="filtroSucursales.todosValor">Todos</mat-option>
        <mat-option
          *ngFor="let sucursal of sucursales$ | async"
          [value]="sucursal.id"
        >
          {{ sucursal.nombre }}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix>store</mat-icon>
    </mat-form-field>

    <div class="grafico-filtros__acciones">
      <button
        mat-icon-button
        type="button"
        class="grafico-filtros__limpiar"
        (click)="limpiarFiltros()"
        matTooltip="Limpiar filtros"
        aria-label="Limpiar filtros"
      >
        <mat-icon>filter_alt_off</mat-icon>
      </button>
    </div>
  </div>

  <ng-container *ngIf="vista$ | async as vista">
    <frc-grafico-shell
      class="grafico-wrapper"
      titulo="Ventas por Hora del Día"
      [opciones]="vista.opciones"
      [cargando]="vista.cargando"
      [hayDatos]="vista.hayDatos"
      [datosListos]="vista.datosListos"
      alturaMinima="480px"
    ></frc-grafico-shell>
  </ng-container>
</div>
