<app-generic-list
  titulo="Lista de sectores"
  (adicionar)="onAdd()"
  (filtrar)="onFilter()"
  [isAdicionar]="true"
  [disableFilter]="sucursalControl.invalid && nombreControl.invalid"
>
  <div filtros>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div fxFlex="30%">
        <mat-form-field style="width: 90%">
          <mat-label>Sucursal</mat-label>
          <mat-select [formControl]="sucursalControl" name="sucursalControl">
            <mat-option [value]="null"> Ninguno </mat-option>
            <mat-option
              *ngFor="let sucursal of sucursalList"
              [value]="sucursal"
            >
              {{ sucursal?.id }} - {{ sucursal?.nombre | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div table>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
      style="width: 100%"
    >
      <ng-container matColumnDef="id" style="width: 5%">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">Id</th>
        <td mat-cell *matCellDef="let sector" style="text-align: center">
          {{ sector.id }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="sucursal">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Sucursal
        </th>
        <td mat-cell *matCellDef="let sector" style="text-align: center">
          {{ sector?.sucursal?.nombre | uppercase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Nombre
        </th>
        <td mat-cell *matCellDef="let sector" style="text-align: center">
          {{ sector?.descripcion | uppercase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Activo
        </th>
        <td mat-cell *matCellDef="let sector" style="text-align: center">
          {{ sector?.activo ? 'Si' : 'No' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="creadoEn">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Creado en
        </th>
        <td mat-cell *matCellDef="let sector" style="text-align: center">
          {{ sector?.creadoEnn | date: "short" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 5%; text-align: center"
        >
          ...
        </th>
        <td
          mat-cell
          *matCellDef="let sector; let i = dataIndex"
          style="text-align: center; width: 5%"
        >
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onEdit(sector, i)">
              Editar
            </button>
            <button mat-menu-item color="primary" (click)="onDeleteSector(sector, i)">
              Eliminar
            </button>
            
          </mat-menu>
        </td>
      </ng-container>

      <mat-divider></mat-divider>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let sector; let i = dataIndex"
          [attr.colspan]="displayedColumns.length"
          style="padding: 0px !important;"
        >
          <div
            class="example-element-detail"
            [@detailExpand]="
              sector == expandedElement ? 'expanded' : 'collapsed'
            "
          >
          <div
          fxLayout="row"
          style="width: 100%; padding-bottom: 20px"
          fxLayoutGap="20px"
          fxLayoutAlign="center center"
        >
          <mat-card fxFlex="40%">
            <div style="text-align: center">
              <h4>Zonas</h4>
            </div>
            <table
              mat-table
              #zonaTable
              [dataSource]="zonaDataSource"
              class="mat-elevation-z8"
              style="background-color: rgb(43, 43, 43)"
            >
              <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let zona">
                  {{ zona.id }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                <td mat-cell *matCellDef="let zona">
                  {{ zona?.descripcion | titlecase }}
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef>Activo</th>
                <td mat-cell *matCellDef="let zona">
                  {{ zona?.activo ? "Si" : "No" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="eliminar">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  style="width: 5%"
                ></th>
                <td
                  mat-cell
                  *matCellDef="let zona; let zonaIndex = index"
                  style="width: 5%"
                >
                  <mat-icon
                    style="color: red; cursor: pointer"
                    (click)="
                      onDeleteZona(zona, zonaIndex);
                      $event.stopPropagation()
                    "
                    >clear</mat-icon
                  >
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="zonaColumnsToDisplay"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: zonaColumnsToDisplay; let zonaIndex = index"
                (click)="onEditZona(row, zonaIndex)"
              ></tr>
            </table>
            <br />
            <div style="width: 100%; text-align: center;">
              <button
                mat-fab
                color="primary"
                aria-label="adicionar zona"
                (click)="selectedZona = null; onAddZona(sector, i)"
                type="button"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </mat-card>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        [class.heightLight]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element; zonaDataSource.data = element.zonaList"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
  </div>
</app-generic-list>
