table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

input {
  text-transform: uppercase;
}

.selectedRow {
  background-color: #38853c;
}


#nombre:hover + #stock, #nombre:hover{
  background: #38853c;
}

.nombre-cell {
  text-align: left;
  padding: 8px;
  width: 70%;
}

.stock-cell {
  text-align: center;
  padding: 8px;
  width: 30%;
}

.titulo-cell {
  text-align: left;
  padding: 8px;
  width: 70%;
}

.icon:hover {
  color: rgb(0, 172, 46);
  cursor: pointer;
}
