<div style="width: 100%; height: 100%">
  <div fxLayout="row" style="width: 100%; height: 100%" fxLayoutGap="10px">
    <div
      fxFlex="100%"
      fxLayout="column"
      fxLayoutAlign="start"
      style="height: 100%"
    >
      <div style="width: 100%; text-align: center">
        <h2>Lista de productos</h2>
      </div>
      <div fxFlex="8" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <div fxFlex="20">Buscar productos</div>
        <div fxFlex="70">
          <mat-form-field class="form-element" style="width: 100%">
            <input
              #buscarInput
              matInput
              placeholder="Buscar"
              name="buscarField"
              [formControl]="buscarField"
              autocomplete="off"
              oninput="this.value = this.value.toUpperCase()"
            />
          </mat-form-field>
        </div>
        <div fxFlex="10%">
            <button type="button" mat-raised-button color="primary" (click)="openProductos('new')">Nuevo</button>
        </div>
      </div>
      <div  fxFlex="80" style="overflow-y: scroll;">
        <table
        *ngIf="!isSearching"
        mat-table
        class="mat-elevation-z8"
        [dataSource]="dataSource"
        style="padding-left: 5px; padding-right: 5px; width: 100%;"
      >
        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="padding-left: 10px; width: 10%"
          >
            ID
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            style="padding-left: 10px; width: 10%"
          >
            {{ element.id }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef style="width: 50%">
            Descripción
          </th>
          <td mat-cell *matCellDef="let element" style="width: 50%">
            {{ element.descripcion }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="precio1">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="width: 13%; text-align: center"
          >
            Precio 1
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            style="width: 13%; text-align: center"
          >
            {{ element.precio1 | number: "1.0-0" }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="precio2">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="width: 13%; text-align: center"
          >
            Precio 2
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            style="width: 13%; text-align: center"
          >
            {{ element.precio2 | number: "1.0-0" }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="precio3">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="padding-right: 10px; width: 13%; text-align: center"
          >
            Precio 3
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            style="padding-right: 10px; width: 13%; text-align: center"
          >
            {{ element.precio3 | number: "1.0-0" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns; let i = index"
          (click)="highlight(row, i)"
          [ngClass]="{ highlight: selectedRowIndex == i }"
          (keyup.arrowdown)="arrowDownEvent()"
          (keyup.arrowup)="arrowUpEvent()"
          tabindex="0"
        ></tr>
      </table>
      <mat-card *ngIf="isSearching" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner 
          color="primary" 
          mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>
      <mat-paginator [pageSizeOptions]="[10, 5]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>

    <div
      fxLayout="column"
      fxLayoutAlign="start"
      style="height: 100%; width: 50%;"
      [@slideInOut]="menuState"
    >
      <div style="width: 100%; text-align: center">
        <h2>Información del producto</h2>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="start center"
        style="text-align: center; height: 250px"
      >
        <div
          fxFlex
          style="width: 250px; height: 250px; background-color: black"
        >
          <img
            *ngIf="imagenPrincipal != null"
            [src]="imagenPrincipal"
            style="width: 250px; height: 250px"
            alt="imgPrincipal"
          />
          <img
            *ngIf="imagenPrincipal == null"
            src="assets/no-image.png"
            style="width: 250px; height: 250px"
            alt="imgPrincipal"
          />
        </div>
      </div>
      <br />
      <div fxFlex fxLayout="column">
        <div fxFlex="10" fxLayout="row">
          <div fxFlex="20%">Nombre:</div>
          <div fxFlex="80%">
            {{ selectedProducto?.descripcion }}
          </div>
        </div>
      </div>
      <br>
      <div fxFlex="15%" style="text-align: center;">
          <button type="button" [disabled]="selectedProducto.id==null" mat-raised-button color="primary" style="width: 25%;" (click)="openProductos('edit')">Editar</button>
      </div>
      <div fxFlex="15%" style="text-align: center;">
        <button type="button" [disabled]="selectedProducto.id==null" mat-raised-button color="primary" style="width: 25%;" (click)="printProducto()">Editar</button>
    </div>
    </div>
  </div>
</div>
