<div
  fxLayout="column"
  fxLayoutAlign="start start"
  fxLayoutGap="20px"
  style="width: 100%"
>
<div fxFlex style="width: 100%; font-size: 200%; text-align: center;">
    {{item.producto.descripcion}}
</div>
  <div fxFlex fxLayout="row" fxLayoutGap="10px" style="width: 100%; height: 100%;" fxLayoutAlign="start center">
    <div fxFlex="12">
      <button
        mat-raised-button
        color="primary"
        style="width: 100%; height: 4em"
        (click)="calcularCantidad(-1)"
      >
        <mat-icon style="width: 100%; height: 1em; font-size: 2.5em"
          >arrow_back_ios</mat-icon
        >
      </button>
    </div>
    <div fxFlex="12">
      <mat-card appearance="outlined" style="background-color: white; width: 100%; height: 4em">
        <div style="font-size: 2.5em; height: 1em; color: black; text-align: center">
          {{ formGroup.controls.cantidad.value }}
        </div>
      </mat-card>
    </div>
    <div fxFlex="12">
      <button
        mat-raised-button
        color="primary"
        style="width: 100%; height: 4em"
        (click)="calcularCantidad(1)"
      >
        <mat-icon style="width: 100%;height: 1em; font-size: 2.5em"
          >arrow_forward_ios</mat-icon
        >
      </button>
    </div>
    <div fxFlex="12">
      <button
        mat-raised-button
        (click)="openTecladoNumerico()"
        style="width: 100%; height: 4em"
        color="primary"
      >
        <mat-icon style="width: 100%;height: 1em; font-size: 2.5em"
          >keyboard_alt
        </mat-icon>
      </button>
    </div>
    <div fxFlex="24">
        <button mat-raised-button color="accent" style="width: 100%; height: 2em; font-size: 2em;" (click)="onGuardar()">
          Guardar
        </button>
      </div>
    <div fxFlex="24">
      <button mat-raised-button color="primary" style="width: 100%; height: 2em; font-size: 200%" (click)="onEliminar()">
        Eliminar
      </button>
    </div>
  </div>
</div>

<!-- #00796B -->