<div fxLayout="column" fxLayoutGap="10px" style="width: 400px; padding: 10px">
  <div fxFlex style="width: 100%; text-align: center">
    <h3>Descuento</h3>
  </div>
  <div fxFlex>
    <mat-form-field style="width: 100%">
      <input
        #porcentaje
        matInput
        type="text"
        [formControl]="porcentajeDescuento"
        autocomplete="off"
        (keyup.enter)="onGuardar(); $event.stopPropagation()"
        (keyup)="onKeyUp(4, porcentajeDescuento.value)"
        style="text-align: end"
        currencyMask
        [options]="currencyOptionsNoGuarani"
      />
      <span matTextPrefix>Porcentaje (%)</span>
      <span matTextSuffix>%</span>
      <mat-error *ngIf="porcentajeDescuento.invalid">
        Valor no permitido
      </mat-error>
    </mat-form-field>
  </div>
  <div fxFlex>
    <mat-form-field style="width: 100%">
      <input
        matInput
        type="text"
        [formControl]="valorDescuentoGsControl"
        currencyMask
        [options]="currencyOptionsGuarani"
        autocomplete="off"
        (keyup.enter)="onGuardar()"
        (keyup)="onKeyUp(1, valorDescuentoGsControl.value)"
      />
      <span matTextPrefix>Valor en Guaranies</span>
    </mat-form-field>
  </div>
  <div fxFlex>
    <mat-form-field style="width: 100%">
      <input
        matInput
        type="text"
        [formControl]="valorDescuentoRsControl"
        currencyMask
        [options]="currencyOptionsNoGuarani"
        autocomplete="off"
        (keyup.enter)="onGuardar(); $event.stopPropagation()"
        (keyup)="onKeyUp(2, valorDescuentoRsControl.value)"
      />
      <span matTextPrefix>Valor en Reales</span>
    </mat-form-field>
  </div>
  <div fxFlex>
    <mat-form-field style="width: 100%">
      <input
        matInput
        type="text"
        [formControl]="valorDescuentoDsControl"
        currencyMask
        [options]="currencyOptionsNoGuarani"
        autocomplete="off"
        (keyup.enter)="onGuardar(); $event.stopPropagation()"
        (keyup)="onKeyUp(3, valorDescuentoDsControl.value)"
      />
      <span matTextPrefix>Valor en Dolares</span>
    </mat-form-field>
  </div>
  <div fxFlex style="height: 35px">
    <app-boton
      nombre="Cancelar"
      color="primary"
      (clickEvent)="onCancelar()"
      style="height: 35px"
    ></app-boton>
  </div>
  <div fxFlex style="height: 35px">
    <app-boton
      nombre="Aceptar"
      color="accent"
      (clickEvent)="onGuardar()"
      style="height: 35px"
    ></app-boton>
  </div>
</div>
