<div class="dashboard-container" fxLayout="column" fxLayoutGap="16px">

  <div class="header" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
    <h2>Dashboard RRHH</h2>
    <span fxFlex></span>
    <mat-form-field fxFlex="160px">
      <mat-label>Período</mat-label>
      <input matInput [formControl]="periodoControl" placeholder="YYYY-MM" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="cargar()">
      <mat-icon>refresh</mat-icon> Actualizar
    </button>
  </div>

  <div class="cards" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div class="card" *ngFor="let c of cards" [ngClass]="c.color" fxFlex="0 1 calc(33% - 16px)">
      <div class="card-top" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="titulo">{{ c.titulo }}</span>
        <mat-icon>{{ c.icon }}</mat-icon>
      </div>
      <div class="valor">{{ c.valor | number:'1.0-2' }}</div>
      <div class="sub" *ngIf="c.sub">{{ c.sub }}: <b>{{ c.subValor | number:'1.0-2' }}</b></div>
    </div>
  </div>
</div>
