<app-generic-list titulo="Justificativos" style="height: 100%" [isAdicionar]="true" (adicionar)="onNueva()"
  (filtrar)="onFiltrar()" (resetFiltro)="onResetFiltro()">

  <div filtros fxLayout="row wrap" fxLayoutGap="10px" style="width: 100%">
    <div fxFlex="320px">
      <app-select-funcionario
        [funcionarioId]="funcionarioControl.value"
        (idSelected)="funcionarioControl.setValue($event)">
      </app-select-funcionario>
    </div>

    <mat-form-field fxFlex="200px">
      <mat-label>Tipo</mat-label>
      <mat-select [formControl]="tipoControl" (selectionChange)="onFiltrar()">
        <mat-option [value]="null">Todos</mat-option>
        <mat-option *ngFor="let t of tipoOptions" [value]="t.id">{{ t.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="150px">
      <mat-label>Desde</mat-label>
      <input matInput [matDatepicker]="dp1" [formControl]="desdeControl" />
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="150px">
      <mat-label>Hasta</mat-label>
      <input matInput [matDatepicker]="dp2" [formControl]="hastaControl" />
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2></mat-datepicker>
    </mat-form-field>
  </div>

  <div table style="height: 100%" fxLayout="column" fxLayoutAlign="space-between start">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" style="width: 100%">
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let row">{{ row.fecha | date:'dd/MM/yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="funcionario">
        <th mat-header-cell *matHeaderCellDef>Funcionario</th>
        <td mat-cell *matCellDef="let row">{{ row.funcionario?.persona?.nombre }}</td>
      </ng-container>
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let row">{{ row.tipo?.nombre }}</td>
      </ng-container>
      <ng-container matColumnDef="observacion">
        <th mat-header-cell *matHeaderCellDef>Observación</th>
        <td mat-cell *matCellDef="let row" class="text-left">{{ row.observacion }}</td>
      </ng-container>
      <ng-container matColumnDef="registradoPor">
        <th mat-header-cell *matHeaderCellDef>Registrado por</th>
        <td mat-cell *matCellDef="let row">{{ row.registradoPor?.nickname }}</td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onEditar(row)">
              <mat-icon>edit</mat-icon><span>Editar</span>
            </button>
            <button mat-menu-item (click)="onEliminar(row)">
              <mat-icon>delete</mat-icon><span>Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator itemsPerPageLabel="Ítems por página" [pageSizeOptions]="[15, 25, 50, 100]"
      (page)="handlePageEvent($event)" [length]="selectedPageInfo?.getTotalElements"
      style="width: 100%" showFirstLastButtons></mat-paginator>
  </div>
</app-generic-list>
