<div fxLayout="row" style="width: 100%; height: 95%" fxLayoutGap="5px">
  <mat-card fxFlex="50%" fxLayout="column" style="width: 100%; height: 100%">
    <div fxFlex="20%">
      <app-totales></app-totales>
    </div>
    <div fxFlex="60%">
      <app-item-list></app-item-list>
    </div>
    <div fxFlex="5%">
      <app-buscador></app-buscador>
    </div>
    <div fxFlex="15%" fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="50%">
        <app-boton></app-boton>
      </div>
      <div fxFlex="50%">
        <app-boton></app-boton>
      </div>
    </div>
  </mat-card>
  <mat-card fxFlex="50%" fxLayout="column" style="width: 100%; height: 100%">
  <div fxFlex="85%">
    <app-favoritos></app-favoritos>
  </div>
  <div fxFlex="15%" fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="25%">
      <app-boton></app-boton>
    </div>
    <div fxFlex="25%">
      <app-boton></app-boton>
    </div>
    <div fxFlex="25%">
      <app-boton></app-boton>
    </div>
    <div fxFlex="25%">
      <app-boton></app-boton>
    </div>
  </div>
</mat-card>
</div>
