<div fxLayout="column" fxLayoutGap="20px" style="padding: 20px;">
  <div fxFlex class="titulo" style="text-align: center">
    <h2>Crear nuevo inventario</h2>
  </div>
  
  <div fxFlex fxLayout="column" fxLayoutGap="15px">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="40">
        <strong>Sucursal:</strong>
      </div>
      <div fxFlex="60">
        <mat-form-field style="width: 100%">
          <mat-label>Seleccionar Sucursal</mat-label>
          <input 
            matInput 
            [value]="sucursalNombre | titlecase"
            (click)="onSelectSucursal()"
            readonly
            placeholder="Click para seleccionar"
            style="cursor: pointer;">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="40">
        <strong>Responsable:</strong>
      </div>
      <div fxFlex="60">
        {{ responsableNombre | titlecase }}
      </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="40">
        <strong>Tipo:</strong>
      </div>
      <div fxFlex="60">
        Zona
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div fxFlex fxLayout="column" fxLayoutGap="10px">
    <div fxFlex>
      <strong>Recomendaciones:</strong>
    </div>
    <div fxFlex style="padding-left: 15px;">
      <p>Verifique que todas los sectores y zonas estén debidamente identificados.</p>
    </div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutGap="10px" style="margin-top: 20px;">
    <div fxFlex="50">
      <button
        style="width: 100%"
        mat-raised-button
        color="warn"
        (click)="onCancel()"
      >
        Cancelar
      </button>
    </div>
    <div fxFlex="50">
      <button
        style="width: 100%"
        mat-raised-button
        color="accent"
        [disabled]="!selectedSucursal"
        (click)="onIniciarInventario()"
      >
        Iniciar
      </button>
    </div>
  </div>
</div>
