<div>
    <br>
    <div #ticket1 style="width: 58mm; background-color: white; text-align: center;">
        <br>
        <!-- <div style="background-color: black; width: 100%; height: 20mm; text-align: center; padding-left: 5mm; padding-right: 5mm;">
            <img class="" src="/assets/bodega_logo.png" alt="logo" style="width: 38mm; height: 19mm; object-fit: contain;">
        </div>
        <br> -->
        <div style="width: 48mm; color: black; overflow: hidden; font-size: 0.9 em;">123456789012345678901234567890</div>
    </div>
    <br>
</div>

<div>
    <button mat-button-raised color="primary" (click)="onPrint()">Print</button>
</div>