<div class="marcar-horario-container" fxLayout="column" fxLayoutGap="32px">

    <reloj-header></reloj-header>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="32px" fxFlex>

        <div fxFlex="45" fxFlex.lt-md="100" fxLayout="column" fxLayoutGap="32px" *ngIf="usuarioSeleccionado">
            <resumen-marcaciones [usuarioNombre]="usuarioSeleccionado?.persona?.nombre"
                [sucursalNombre]="sucursalActualNombre" [marcaciones]="marcacionesHoy" (limpiar)="limpiarEmpleado()"
                (busquedaManual)="abrirBuscadorManual()" [similitudInsuficiente]="similitudInsuficiente">
            </resumen-marcaciones>
        </div>

        <div fxFlex fxLayout="column" [fxLayoutAlign]="usuarioSeleccionado ? 'start stretch' : 'start center'">

            <estado-marcacion #estadoRef *ngIf="usuarioSeleccionado" [estaEnJornada]="estaEnJornada"
                [cargando]="cargando" [reconocimientoExitoso]="reconocimientoExitoso"
                [mensajeErrorFoto]="mensajeErrorFoto" [mostrandoCamara]="mostrandoCamara" [modoCamara]="modoCamara"
                [referenciaDescriptor]="referenciaDescriptor" [usuarioSeleccionado]="usuarioSeleccionado"
                (registrarEntrada)="registrarEntrada()" (registrarSalida)="registrarSalida()"
                (iniciarReconocimiento)="onIniciarReconocimiento()"
                (identidadVerificada)="onIdentidadVerificada($event)" (fotoPerfilGuardada)="onFotoPerfilGuardada()"
                (similitudInsuficiente)="similitudInsuficiente = $event">
            </estado-marcacion>

            <busqueda-usuario #busquedaRef *ngIf="!usuarioSeleccionado" [mostrandoCamara]="mostrandoCamara"
                (iniciarBusqueda)="onIniciarBusquedaCamara()" (busquedaManual)="abrirBuscadorManual()"
                (cerrarCamara)="onCerrarCamara()" (usuarioIdentificado)="onUsuarioIdentificado($event)">
            </busqueda-usuario>

        </div>
    </div>

</div>