::ng-deep .mat-mdc-simple-snack-bar {
  font-size: 150% !important;
  justify-content: center !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.titulo {
  text-align: start;
  color: #f57c00;
}

.titulo-center {
  text-align: center;
  color: #f57c00;
}

.item {
  text-align: start;
}

::ng-deep .cdk-global-scrollblock {
  position: static !important;
  width: initial !important;
  overflow-y: inherit !important;
}

:host ::ng-deep .cdk-overlay-pane:has(mat-mdc-simple-snack-bar) {
  position: fixed !important;
  bottom: 30% !important; /* Adjust this value as needed */
}
