::ng-deep snack-bar-container.warn {
  background: #f57c00 !important;
  color: white !important;
}

::ng-deep snack-bar-container.success {
  background: #43a047 !important;
  color: white !important;
}

::ng-deep snack-bar-container.info {
  background: #54c5f8 !important;
  color: white !important;
}

::ng-deep snack-bar-container.neutral {
  background: #757575 !important;
  color: white !important;
}

::ng-deep snack-bar-container.danger {
  background: #f44336 !important;
  color: white !important;
}

::ng-deep .mat-simple-snackbar {
  font-size: 150% !important;
  justify-content: center !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.titulo {
  text-align: start;
  color: #f57c00;
}

.titulo-center {
  text-align: center;
  color: #f57c00;
}

.item {
  text-align: start;
}


