<app-generic-list
  titulo="Lista de versiones"
  (adicionar)="onAdicionarVersion()"
  (filtrar)="onFiltrar()"
  [isAdicionar]="true"
  style="height: 95%"
  [data]="dataSource.data"
  (cargarMasDatos)="cargarMasDatos()"
  [isLastPage]="isLastPage"
>

<div filtros>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div fxFlex="30%">
        <mat-form-field style="width: 90%">
          <mat-label>Tipo</mat-label>
          <mat-select
            [formControl]="tipoControl"
            name="tipoControl"
          >
          <mat-option
              [value]="null"
            >
              Todos
            </mat-option>
            <mat-option
              *ngFor="let tipo of tipoActualizacionList"
              [value]="tipo"
            >
              {{ tipo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div table>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
      style="width: 100%"
    >
      <ng-container matColumnDef="id" style="width: 5%">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center; "
        >
          Id
        </th>
        <td
          mat-cell
          *matCellDef="let actualizacion"
          style="text-align: center; "
        >
          {{ actualizacion.id }}
        </td>
      </ng-container>
      
      <!-- Name Column -->
      <ng-container matColumnDef="currentVersion">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center;"
        >
          Versión
        </th>
        <td
          mat-cell
          *matCellDef="let actualizacion"
          style="text-align: center;"
        >
          {{ actualizacion?.currentVersion}}
        </td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center;"
        >
          Habilitado
        </th>
        <td
          mat-cell
          *matCellDef="let actualizacion"
          style="text-align: center;"
        >
          {{ actualizacion?.enabled ? 'Si' : 'No' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center;"
        >
          Tipo
        </th>
        <td
          mat-cell
          *matCellDef="let actualizacion"
          style="text-align: center;"
        >
          {{ actualizacion?.tipo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nivel">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center;"
        >
          Nivel
        </th>
        <td
          mat-cell
          *matCellDef="let actualizacion"
          style="text-align: center;"
        >
          {{ actualizacion?.nivel }}
        </td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center;"
        >
          Responsable
        </th>
        <td
          mat-cell
          *matCellDef="let actualizacion"
          style="text-align: center;"
        >
          {{ actualizacion?.usuario?.persona?.nombre | titlecase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="creadoEn">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center;"
        >
          Creado en
        </th>
        <td
          mat-cell
          *matCellDef="let actualizacion"
          style="text-align: center;"
        >
          {{ actualizacion?.creadoEnn | date: "short" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 5%; text-align: center"
        >
          ...
        </th>
        <td
          mat-cell
          *matCellDef="let actualizacion; let i = index"
          style="text-align: center; width: 5%"
        >
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onDelete(actualizacion, i)">
              Eliminar
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <mat-divider></mat-divider>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let actualizacion"
          [attr.colspan]="displayedColumns.length"
          class="expanded"
        >
          <div
            class="example-actualizacion-detail"
            [@detailExpand]="
              actualizacion == expandedActualizacion ? 'expanded' : 'collapsed'
            "
            style="text-align: center"
            fxLayout="column"
            fxLayoutAlign="start start"
          ></div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = dataIndex"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
  </div>
</app-generic-list>
