<div class="main-container">
    <div class="header-controls">
        <div class="search-wrapper">
            <mat-icon class="search-icon">search</mat-icon>
            <mat-form-field appearance="fill" class="vehiculo-select">
                <mat-label>Buscar vehículo por chapa o modelo...</mat-label>
                <mat-select [formControl]="selectedVehiculoControl" (selectionChange)="onVehiculoSelect()">
                    <mat-option [value]="null">Mostrar Todos</mat-option>
                    <mat-option *ngFor="let vehiculo of vehiculos" [value]="vehiculo">
                        {{ vehiculo.chapa }} - {{ vehiculo.modelo?.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="map-wrapper">
        <div class="map-container" id="map" #mapContainer></div>
    </div>
</div>