<div
  fxLayout="column"
  fxLayoutAlign="center start"
  fxLayoutGap="20px"
  (click)="setFocusToCantidad()"
  style="padding: 10px"
>
  <div style="width: 100%; text-align: center">
    <h2>{{ data.producto.descripcion }}</h2>
  </div>
  <div
    *ngIf="presentaciones?.length > 0"
    fxFlex
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    fxLayoutGap="5px"
    style="width: 100%"
  >
    <div
      fxFlex="13"
      [fxHide]="presentacion?.activo != true"
      *ngFor="let presentacion of presentaciones; let i = index"
    >
      <mat-card
        appearance="outlined"
        *ngIf="presentacion?.activo == true"
        style="
          padding: 0;
          margin: 0;
          margin-top: 5px;
          background-color: #f44336;
        "
        [class.selectedCard]="selectedPresentacion?.id == presentacion.id"
        (click)="onGridCardClick(presentacion)"
      >
        <div fxLayout="column" fxLayoutGap="10px">
          <div
            style="
              text-align: center;
              font-size: 1.2em;
              font-weight: bold;
              margin: 0px;
            "
          >
            {{ presentacion?.precioPrincipal?.precio | number : "1.0-2" }}
          </div>
          <div>
            <img
              [src]="
                presentacion?.imagenPrincipal != null
                  ? presentacion?.imagenPrincipal
                  : 'assets/no-image.png'
              "
              style="width: 100%; height: 100%; object-fit: cover"
            />
          </div>
          <div style="text-align: center; font-size: 1.2em; font-weight: bold">
            {{ presentacion?.cantidad }}
          </div>
        </div>
      </mat-card>
      <div style="height: 5px"></div>
      <div *ngIf="mostrarTipoPrecios == true && presentacion?.activo == true">
        <mat-card
          appearance="outlined"
          *ngFor="let precio of presentacion?.precios"
          fxLayout="column"
          style="
            width: 100%;
            background-color: #f44336;
            text-align: center;
            margin: 0px;
            padding: 0px;
            margin-bottom: 5px;
          "
          (click)="selectedPrecio = precio; onGridCardClick(presentacion)"
        >
          <div fxFlex>
            {{ precio?.tipoPrecio?.descripcion?.substring(0, 4) | uppercase }}
          </div>
          <div fxFlex>
            {{ precio?.precio | number : "1.0-2" }}
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
    style="width: 100%"
  >
    <div fxFlex="33">
      <form [formGroup]="formGroup">
        <mat-form-field class="shrinking-mat-form-field">
          <input
            #cantidad
            formControlName="cantidad"
            type="number"
            matInput
            style="font-size: 1.5em; text-align: center"
            min="1"
            (click)="formGroup.controls.cantidad.setValue(1)"
            autocomplete="off"
          />
          <span matTextPrefix style="color: white">Cantidad:</span>
        </mat-form-field>
      </form>
    </div>
    <!-- <div fxFlex="33%">
      <button
        style="height: 100%; font-size: 1.5em"
        mat-raised-button
        [color]="mostrarTipoPrecios ? 'accent' : 'primary'"
        (click)="mostrarTipoPrecios = !mostrarTipoPrecios"
      >
        Ver tipo de precios
      </button>
    </div> -->
    <div fxFlex="77%"></div>
  </div>
  <div
    fxFlex
    fxLayout="row"
    fxLayoutAlign="space-around start"
    fxLayoutGap="10px"
    style="width: 100%"
  >
    <div fxFlex="9" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
      <button
        mat-raised-button
        color="primary"
        style="font-size: 2em; width: 2em; height: 2em"
        (click)="setCantidad(i)"
      >
        {{ i }}
      </button>
    </div>
    <div fxFlex="9">
      <button
        mat-raised-button
        color="primary"
        style="font-size: 2em; width: 2em; height: 2em"
        (click)="formGroup.controls.cantidad.setValue(1)"
      >
        <mat-icon
          style="
            height: 1em;
            width: 1em;
            font-size: 1em;
            margin-right: 0px;
            margin-left: 0px;
          "
          >clear</mat-icon
        >
      </button>
    </div>
  </div>
  <div
    *ngIf="desplegarTipoPrecio"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
    style="width: 100%"
  >
    <div
      fxFlex="19"
      *ngFor="let precio of selectedPresentacion?.precios; let i = index"
    >
      <mat-card
        appearance="outlined"
        style="
          padding-top: 10px;
          margin: 0;
          margin-top: 5px;
          background-color: #f44336;
        "
        (click)="selectedPrecio = precio; onGridCardClick(selectedPresentacion)"
      >
        <div fxLayout="column" fxLayoutGap="10px">
          <div style="text-align: center; font-size: 1.5em">
            {{ precio?.tipoPrecio?.descripcion | uppercase }}
          </div>
          <div style="text-align: center">
            {{ precio?.precio | number : "1.0-0" }}
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
