<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
    <h3 fxFlex style="width: 100%; text-align: center;">
      {{
        selectedActualizacion?.id != null
          ? "Editar actualización"
          : "Nueva actualización"
      }}
    </h3>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex="50">
      <mat-form-field>
        <mat-label>Versión</mat-label>
        <input type="text" matInput [formControl]="currentVersion" />
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="false" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <mat-form-field style="width: 90%">
      <mat-label>Tipo</mat-label>
      <mat-select [formControl]="tipo" name="tipo">
        <mat-option *ngFor="let tipo of tipoActualizacionList" [value]="tipo">
          {{ tipo }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="false" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <mat-form-field style="width: 90%">
      <mat-label>Nivel</mat-label>
      <mat-select [formControl]="nivel" name="nivel">
        <mat-option
          *ngFor="let nivel of nivelActualizacionList"
          [value]="nivel"
        >
          {{ nivel }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="true" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex>
      <mat-form-field style="width: 100%;">
        <mat-label>Archivos</mat-label>
        <input type="text" matInput [formControl]="title" />
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="false" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex>
      <mat-form-field style="width: 100%;">
        <mat-label>Nombre del archivo</mat-label>
        <input type="text" matInput [formControl]="msg">
      </mat-form-field>
    </div>
  </div>
  <div fxFlex>
    <div fxFlex="30%">
      <mat-form-field style="width: 100%">
        <mat-label>Sucursales</mat-label>
        <mat-select
          #sucursalSelect
          [formControl]="sucursalControl"
          multiple
        >
          <mat-select-trigger>
            {{(sucursalControl.value?.[0]?.nombre || '')}}
            <span
              *ngIf="(sucursalControl.value?.length || 0) > 1"
              class="example-additional-selection"
            >
              (+{{ (sucursalControl.value?.length || 0) - 1 }}
              {{ sucursalControl.value?.length === 2 ? "otro" : "otros" }})
            </span>
          </mat-select-trigger>
          <div
            style="
              width: 100%;
              text-align: end;
              padding-right: 10px;
              padding-top: 10px;
              font-size: 0.8em;
              color: white;
            "
          >
            <mat-icon (click)="sucursalSelect.close()">clear</mat-icon>
          </div>
          <mat-option
            *ngFor="let sucursal of sucursalList"
            [value]="sucursal"
            >{{ sucursal?.id }} -
            {{ sucursal?.nombre | titlecase }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div fxFlex="30%">
      <app-boton
        nombre="Cancelar"
        color="primary"
        (clickEvent)="onCancelar()"
      ></app-boton>
    </div>
    <div fxFlex="30%">
      <app-boton
        nombre="Guardar"
        color="accent"
        [disableExpression]="formGroup.invalid"
        (clickEvent)="onGuardar()"
      ></app-boton>
    </div>
  </div>
</div>
