@import 'src/styles.scss';

:host {
    ::ng-deep {

        .mat-column-id,
        .mat-column-acciones {
            width: 5% !important;
            text-align: center !important;
        }

        .mat-mdc-table {
            background-color: transparent !important;
        }

        .mat-mdc-row,
        .mat-mdc-header-row {
            background-color: transparent !important;
            color: white !important;
        }

        .mat-mdc-header-cell {
            color: white !important;
        }

        .mat-mdc-cell {
            color: white !important;
        }

        .mat-mdc-paginator {
            background-color: transparent !important;
            color: white !important;
        }

        .mat-mdc-icon-button {
            color: white !important;
        }
    }
}