<div
  fxLayout="column"
  style="width: 100%; height: 100%; padding: 5px"
  fxLayoutGap="10px"
>
  <div fxFlex="5" style="text-align: center">Información del Funcionario</div>
  <div
    fxFlex="90"
    fxLayout="row"
    style="height: 100%; width: 100%"
    fxLayoutGap="10px"
  >
    <div
      fxFlex="45"
      fxLayout="column"
      style="width: 100%; height: 100%; padding: 10px"
    >
      <div>
        <mat-form-field style="width: 100%">
          <mat-label>Sucursal actual</mat-label>
          <mat-select #sucursalSelect [formControl]="sucursalControl">
            <mat-select-trigger>
              {{ sucursalControl.value?.nombre }}
            </mat-select-trigger>
            <div
              style="
                width: 100%;
                text-align: end;
                padding-right: 10px;
                padding-top: 10px;
                font-size: 0.8em;
                color: white;
              "
            >
              <mat-icon
                (click)="sucursalSelect.close()"
                class="highlight-hover-danger"
                >clear</mat-icon
              >
            </div>
            <mat-option *ngFor="let sucursal of sucursalList" [value]="sucursal"
              >{{ sucursal?.id }} -
              {{ sucursal?.nombre | titlecase }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <div>
        <frc-searchable-select
          #cargoSelect
          titulo="Cargo"
          [list]="cargoList"
          (selectionChanged)="handleCargoSelectionChange($event)"
          [compareFields]="['id', 'descripcion']"
          [isAutoSelect]="true"
          aria-readonly
        >
          <ng-template let-item>
            {{ item.id }} - {{ item.descripcion }}
          </ng-template>
        </frc-searchable-select>
      </div>
      <div>
        <frc-searchable-select
          #supervisadoPorSelect
          titulo="Supervisado por"
          [list]="supervisadoPorList"
          (selectionChanged)="handleSupervisadoPorSelectionChange($event)"
          (inputChanged)="handleSupervisadoPorInputChange($event)"
          [isAutoSelect]="true"
          [isFilter]="false"
        >
          <ng-template let-item>
            {{ item.id }} - {{ item?.persona.nombre | titlecase }}
          </ng-template>
        </frc-searchable-select>
      </div> -->
      <div>
        <mat-form-field style="width: 100%">
          <mat-label>Fecha de ingreso</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [formControl]="fechaIngresoControl"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <br />
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="50%">
          <mat-label style="margin-right: 10px">Fase de prueba</mat-label>
          <mat-slide-toggle [formControl]="fasePruebaControl">
          </mat-slide-toggle>
        </div>
        <div fxFlex="50%">
          <mat-label style="margin-right: 10px">Diarista</mat-label>
          <mat-slide-toggle [formControl]="diaristaControl"> </mat-slide-toggle>
        </div>
      </div>
      <br />
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="50%">
          <mat-label style="margin-right: 10px">Crédito</mat-label>
          <mat-slide-toggle [formControl]="isCreditoControl">
          </mat-slide-toggle>
        </div>
        <div fxFlex="50%">
          <mat-label style="margin-right: 10px">Activo</mat-label>
          <mat-slide-toggle [formControl]="activoControl"> </mat-slide-toggle>
        </div>
      </div>
      <br />
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50" style="width: 100%">
          <input
            #sueldoInput
            type="text"
            matInput
            [formControl]="sueldoControl"
            currencyMask
            [options]="currencyMask.currencyOptionsGuarani"
          />
          <span matTextPrefix style="width: 100%;">Sueldo (Gs.):</span>
        </mat-form-field>
        <mat-form-field fxFlex="50" style="width: 100%">
          <input
            #creditoInput
            type="text"
            matInput
            [formControl]="creditoControl"
            currencyMask
            [options]="currencyMask.currencyOptionsGuarani"
          />
          <span matTextPrefix style="width: 100%;">Crédito (Gs.):</span>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="55" fxLayout="column" green style="width: 100%">
      <mat-card
        fxFlex="40"
        style="
          background-color: rgb(60, 60, 60);
          width: 100%;
          padding: 10px;
          height: 100%;
        "
        [class.selected]="selectedPersona != null"
        fxLayout="row"
        fxLayoutGap="10px"
      >
        <div fxFlex="70" fxLayout="column" fxLayoutGap="10px">
          <div fxFlex="20" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="10">
              <div style="font-size: small; color: rgb(187, 187, 187)">Id</div>
              <div style="font-size: medium" copiarAClipboard>
                {{ selectedPersona?.id }}
              </div>
            </div>
            <div fxFlex="80">
              <div style="font-size: small; color: rgb(187, 187, 187)">
                Nombre y apellido
              </div>
              <div style="font-size: medium" copiarAClipboard>
                {{ selectedPersona?.nombre | titlecase }}
              </div>
            </div>
          </div>
          <div fxFlex="20">
            <div style="font-size: small; color: rgb(187, 187, 187)">
              Fecha de nacimiento
            </div>
            <div style="font-size: medium" copiarAClipboard>
              {{ selectedPersona?.nacimiento | date : "shortDate" }}
            </div>
          </div>
          <div fxFlex="20">
            <div style="font-size: small; color: rgb(187, 187, 187)">
              Lugar de nacimiento
            </div>
            <div style="font-size: medium" copiarAClipboard>
              {{ selectedPersona?.ciudad?.descripcion | titlecase }}
            </div>
          </div>
          <div fxFlex="20">
            <div style="font-size: small; color: rgb(187, 187, 187)">
              Teléfono
            </div>
            <div style="font-size: medium" copiarAClipboard>
              {{ selectedPersona?.telefono }}
            </div>
          </div>
          <div fxFlex="20" fxLayout="row" fxLayoutGap="10px">
            <div
              style="color: #43a047; cursor: pointer"
              (click)="onEditarPersona()"
            >
              Editar
            </div>
            <div style="color: #43a047; cursor: pointer">Compartir</div>
          </div>
        </div>
        <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
          <img
            fxFlex="90"
            [src]="
              selectedFuncionario?.imagenPrincipal != null
                ? selectedFuncionario.imagenPrincipal
                : 'assets/avatar-3x4.png'
            "
            style="height: 100%; object-fit: contain"
          />
          <div
            fxFlex="10"
            style="text-align: center; font-size: medium; padding: 5px"
          >
            C.I.: {{ selectedPersona?.documento | number: '1.0-0'}}
          </div>
        </div>
      </mat-card>
      <br />
      <div style="width: 100%; text-align: center">Histórico de marcación</div>
      <div fxFlex="55">
        <table
          mat-table
          class="mat-elevation-z8"
          [dataSource]="marcacionesDataSource"
          style="padding-left: 5px; padding-right: 5px; width: 100%"
        >
          <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">
              Fecha
            </th>
            <td mat-cell *matCellDef="let element" style="text-align: center">
              {{ element.fecha }}
            </td>
          </ng-container>

          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">
              Tipo
            </th>
            <td mat-cell *matCellDef="let element" style="text-align: center">
              {{ element.tipo }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="sucursal">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">
              Sucursal
            </th>
            <td mat-cell *matCellDef="let element" style="text-align: center">
              {{ element?.sucursal | titlecase }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="['fecha', 'tipo', 'sucursal']"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: ['fecha', 'tipo', 'sucursal'];
              let i = index
            "
          ></tr>
        </table>
      </div>
    </div>
  </div>
  <div
    fxFlex="5"
    fxLayout="row"
    fxLayoutGap="10px"
    style="height: 100%; width: 100%; text-align: center"
    fxLayoutAlign="center center"
  >
    <app-boton
      color="primary"
      nombre="Cancelar"
      style="width: 20%; height: 40px"
      (clickEvent)="onCancel()"
    ></app-boton>
    <app-boton
      color="accent"
      nombre="Guardar"
      style="width: 20%; height: 40px"
      [disableExpression]="formGroup.invalid || selectedPersona == null"
      (clickEvent)="onSave()"
    ></app-boton>
  </div>
</div>
