

<div fxLayout="column" style="width: 100%;" fxLayoutGap="10px">
    <div fxLayout="row" style="width: 100%;" fxLayoutGap="10px">
        <div fxFlex="10%">
            <mat-icon>search</mat-icon>
        </div>
        <div fxFlex="90%">
            <mat-form-field style="width: 100%;">
                <mat-label>Buscar cualquier cosa bro</mat-label>
                <input type="text" matInput [formControl]="buscarControl" (keyup)="onBuscar()">
            </mat-form-field>
        </div>
    </div>
    <div fxFlex fxLayout="column" style="width: 100%; height: 100%;">
        {{searchDataList?.componentes.length > 0 ? 'Menu' : ''}}
        <mat-card class="hover" fxFlex *ngFor="let item of searchDataList?.componentes" (click)="onClick(item)">
            {{item?.title | uppercase}}
        </mat-card>
        <mat-divider *ngIf="searchDataList?.productos.length > 0" style="width: 100%;"></mat-divider>
        {{searchDataList?.productos.length > 0 ? 'Productos' : ''}}
        <mat-card class="hover" fxFlex *ngFor="let item of searchDataList?.productos" (click)="onClick(item)">
            {{item?.title | uppercase}}
        </mat-card>
    </div>
</div>