<div fxLayout="row" style="width: 100%" fxLayoutAlign="space-around center">
  <div fxFlex="45">
    <mat-card appearance="outlined" style="background-color: #f44336">
      <div fxLayout="column" style="width: 100%" fxLayoutAlign="space-between center">
        <div fxFlex="33" style="text-align: center">
          <h2>Sin Maletin</h2>
        </div>
        <div fxFlex="33" style="text-align: center; height: 2em; height: 2em;">
            <mat-icon style="font-size: 2em; width: 2em; height: 2em;">money_off</mat-icon> 
         </div>
         <div fxFlex="33" style="text-align: center;">
            <p></p>
         </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex="45">
    <mat-card appearance="outlined" style="background-color: #f44336">
      <div fxLayout="column" style="width: 100%" fxLayoutAlign="start center">
        <div fxFlex="20" style="text-align: center">
          <h2>Crear Maletin</h2>
        </div>
      </div>
    </mat-card>
  </div>
</div>
