<div style="width: 100%; height: 100%" fxLayout="column" fxLayoutGap="20px">
  <div fxFlex="10" style="text-align: center">
    <h3>No hay ninguna caja abierta a nombre de</h3>
    {{ mainService.usuarioActual.persona.nombre | uppercase }}
  </div>
  <div fxFlex="45%">
    <app-boton
      nombre="Abrir caja"
      color="accent"
      (clickEvent)="abrirCaja()"
    ></app-boton>
  </div>
  <div fxFlex="45%">
    <app-boton
      nombre="Solo venta a crédito"
      color="primary"
      (clickEvent)="ventaCredito()"
    ></app-boton>
  </div>
  <div fxFlex="20%" style="text-align: center">
    <button type="button" mat-flat-button color="primary" (click)="onSalir()">
      Salir
    </button>
  </div>
</div>
