<div style="width: 100%; height: 100%; padding: 20px;" fxLayout="column" fxLayoutGap="20px">
  <div fxFlex="10" style="text-align: center">
    <h3>No hay ninguna caja abierta a nombre de</h3>
    {{ mainService.usuarioActual.persona.nombre | uppercase }}
  </div>
  <div style="height: 35px;">
    <app-boton
      nombre="Abrir caja"
      color="accent"
      (clickEvent)="abrirCaja()"
    ></app-boton>
  </div>
  <div style="height: 35px;">
    <app-boton
      nombre="Solo venta a crédito"
      color="warn"
      (clickEvent)="ventaCredito()"
      [disableExpression]="true"
    ></app-boton>
  </div>
  <div style="height: 35px;">
    <app-boton
      nombre="Solo consulta"
      color="warn"
      (clickEvent)="consulta()"
    ></app-boton>
  </div>
  <div fxFlex="20%" style="text-align: center; height: 35px;">
    <button type="button" mat-flat-button color="primary" (click)="onSalir()">
      Salir
    </button>
  </div>
</div>
