<div class="estado-container">
    <div *ngIf="cargando" class="loading-container" fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner diameter="50"></mat-spinner>
        <span class="loading-text">Verificando estado...</span>
    </div>
    <mat-card *ngIf="!cargando && !estaEnJornada" class="estado-card sin-entrada">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class="estado-content">
                <div *ngIf="mensajeErrorFoto" class="error-foto">
                    {{ mensajeErrorFoto }}
                </div>

                <camara-reconocimiento *ngIf="mostrandoCamara" #camaraRef [modo]="modoCamara"
                    [referenciaDescriptor]="referenciaDescriptor" [usuarioSeleccionado]="usuarioSeleccionado"
                    (identidadVerificada)="identidadVerificada.emit($event)"
                    (fotoPerfilGuardada)="fotoPerfilGuardada.emit()">
                </camara-reconocimiento>

                <div *ngIf="!mostrandoCamara && !mensajeErrorFoto && !cargando && !reconocimientoExitoso">
                    <button mat-stroked-button color="primary" (click)="iniciarReconocimiento.emit()">
                        <mat-icon>face</mat-icon> Intentar Reconocimiento
                    </button>
                </div>

                <span *ngIf="cargando" class="procesando-text">Procesando...</span>

                <div *ngIf="reconocimientoExitoso && !cargando" fxLayout="column" fxLayoutAlign="center center"
                    fxLayoutGap="16px" class="estado-content">
                    <div class="success-message">
                        <mat-icon>check_circle</mat-icon> Identidad Verificada
                    </div>
                    <button mat-raised-button class="btn-entrada" (click)="registrarEntrada.emit()">
                        <mat-icon>login</mat-icon>
                        REGISTRAR ENTRADA
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!cargando && estaEnJornada" class="estado-card con-entrada">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class="estado-content">
                <div *ngIf="mensajeErrorFoto" class="error-foto">
                    {{ mensajeErrorFoto }}
                </div>

                <camara-reconocimiento *ngIf="mostrandoCamara" #camaraRef [modo]="modoCamara"
                    [referenciaDescriptor]="referenciaDescriptor" [usuarioSeleccionado]="usuarioSeleccionado"
                    (identidadVerificada)="identidadVerificada.emit($event)"
                    (fotoPerfilGuardada)="fotoPerfilGuardada.emit()">
                </camara-reconocimiento>

                <div *ngIf="!mostrandoCamara && !mensajeErrorFoto && !cargando && !reconocimientoExitoso">
                    <button mat-stroked-button color="warn" (click)="iniciarReconocimiento.emit()">
                        <mat-icon>face</mat-icon> Verificar para Salir
                    </button>
                </div>

                <span *ngIf="cargando" class="procesando-text">Procesando...</span>

                <div *ngIf="reconocimientoExitoso && !cargando" fxLayout="column" fxLayoutAlign="center center"
                    fxLayoutGap="16px" class="estado-content">
                    <div class="success-message">
                        <mat-icon>check_circle</mat-icon> Identidad Verificada
                    </div>
                    <button mat-raised-button class="btn-salida" (click)="registrarSalida.emit()">
                        <mat-icon>logout</mat-icon>
                        REGISTRAR SALIDA
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>