:host ::ng-deep .mat-form-field-infix {
    border: 0px !important;
    padding: 0px !important;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }