<div fxLayout="row" style="width: 100%; height: 90%" fxLayoutGap="20px">
  <div fxFlex="33%">
    <div style="text-align: center"><h3>Guaranies</h3></div>
    <form [formGroup]="gsFormGroup">
      <mat-card
        fxLayout="column"
        fxLayoutGap="5px"
        style="background-color: rgb(32, 32, 32)"
      >
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">500</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                #gs500Input
                type="number"
                matInput
                style="text-align: center"
                formControlName="gs500"
                (focusout)="sumarGs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">1.000</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="gs1000"
                (focusout)="sumarGs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">2.000</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="gs2000"
                (focusout)="sumarGs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">5.000</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="gs5000"
                (focusout)="sumarGs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">10.000</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="gs10000"
                (focusout)="sumarGs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">20.000</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="gs20000"
                (focusout)="sumarGs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">50.000</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="gs50000"
                (focusout)="sumarGs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">100.000</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="gs100000"
                (focusout)="sumarGs()"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </form>
  </div>
  <div fxFlex="33%">
    <div style="text-align: center"><h3>Reales</h3></div>
    <form [formGroup]="rsFormGroup">
      <mat-card
        fxLayout="column"
        fxLayoutGap="5px"
        style="background-color: rgb(32, 32, 32)"
      >
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">0.5</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                #gs500Input
                type="number"
                matInput
                style="text-align: center"
                formControlName="rs005"
                (focusout)="sumarRs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">0.25</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="rs025"
                (focusout)="sumarRs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">0.5</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="rs05"
                (focusout)="sumarRs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">1</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="rs1"
                (focusout)="sumarRs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">2</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="rs2"
                (focusout)="sumarRs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">5</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="rs5"
                (focusout)="sumarRs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">10</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="rs10"
                (focusout)="sumarRs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">20</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="rs20"
                (focusout)="sumarRs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">50</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="rs50"
                (focusout)="sumarRs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">100</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="rs100"
                (focusout)="sumarRs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">200</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="rs200"
                (focusout)="sumarRs()"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </form>
  </div>
  <div fxFlex="33%">
    <div style="text-align: center"><h3>Dolares</h3></div>
    <form [formGroup]="dsFormGroup">
      <mat-card
        fxLayout="column"
        fxLayoutGap="5px"
        style="background-color: rgb(32, 32, 32)"
      >
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">1</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="ds1"
                (focusout)="sumarDs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">5</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="ds5"
                (focusout)="sumarDs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">10</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="ds10"
                (focusout)="sumarDs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">20</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="ds20"
                (focusout)="sumarDs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">50</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="ds50"
                (focusout)="sumarDs()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="5" fxLayout="row" style="font-size: 1em">
          <div fxFlex="40">100</div>
          <div fxFlex="10%">:</div>
          <div fxFlex="50%">
            <mat-form-field style="width: 50%">
              <input
                type="number"
                matInput
                style="text-align: center"
                formControlName="ds100"
                (focusout)="sumarDs()"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </form>
  </div>
</div>
<br />
<button
  *ngIf="selectedConteo == null"
  style="width: 100%"
  type="button"
  mat-flat-button
  (click)="gsFormGroup.reset(); rsFormGroup.reset(); dsFormGroup.reset()"
>
  Limpiar campos
</button>
<div fxLayout="row" style="width: 100%; height: 100%" fxLayoutGap="20px">
  <div fxFlex="33%">
    <mat-card
      style="background-color: rgb(32, 32, 32); width: 100%; height: 100%"
    >
      <div fxLayout="row" style="font-size: 1.5em">
        <div fxFlex="40">Total G$</div>
        <div fxFlex="10%">:</div>
        <div fxFlex="50%" style="text-align: center">
          {{ totalGs | number: "1.0-0" }}
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex="33%">
    <mat-card
      style="background-color: rgb(32, 32, 32); width: 100%; height: 100%"
    >
      <div fxLayout="row" style="font-size: 1.5em">
        <div fxFlex="40">Total R$</div>
        <div fxFlex="10%">:</div>
        <div fxFlex="50%" style="text-align: center">
          {{ totalRs | number: "1.2-2" }}
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex="33%">
    <mat-card
      style="background-color: rgb(32, 32, 32); width: 100%; height: 100%"
    >
      <div fxLayout="row" style="font-size: 1.5em">
        <div fxFlex="40">Total D$</div>
        <div fxFlex="10%">:</div>
        <div fxFlex="50%" style="text-align: center">
          {{ totalDs | number: "1.2-2" }}
        </div>
      </div>
    </mat-card>
  </div>
</div>
