::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
::ng-deep .mat-horizontal-content-container, .mat-horizontal-stepper-content  {
  height: 100% !important;
}

::ng-deep .mat-horizontal-stepper-content  {
  height: 100% !important;
}

input {
  text-transform: uppercase;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

th {
  height: 85%;
}

