tr:focus {
  outline: none;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

input {
  text-transform: uppercase;
}

td {
    padding: 0px !important
}

.is-delivery {
  color: #f57c00 !important;
}