<div style="width: 100% !important; height: 100% !important">
  <button
    #btn
    type="button"
    mat-raised-button
    [color]="color"
    style="width: 100%; height: 99%"
    [disabled]="disableExpression || temporaryDisable"
    (click)="onClick()"
    [class.warn]="color?.includes('warn')"
  >
    <!-- <div
      fxLayout="column"
      style="width: 100%; height: 100%"
      fxLayoutAlign="center center"
    >
      <div
        fxFlex="50"
        fxLayout="column"
        fxLayoutAlign="end center"
        *ngIf="icon != null"
      >
        <div style="width: 100%; text-align: center">
          <mat-icon
            style="width: 100%; text-align: center"
            [style.fontSize.em]="iconSize"
            >{{ icon }}</mat-icon
          >
        </div>
      </div>
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="start center">
        <div>
          {{ nombre }}
        </div>
      </div>
    </div> -->
    <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
      <div fxFlex="50" *ngIf="icon != null" fxLayout="row" fxLayoutAlign="center end">
        <mat-icon
          style="width: 100%; height: auto; text-align: center"
          [style.fontSize.em]="iconSize"
          >{{ icon }}</mat-icon
        >
      </div>
      <div [fxFlex]="icon != null ? '50' : '100'" fxLayout="row" [fxLayoutAlign]="icon != null ? 'center start' : 'center center'">
        <div style="white-space: normal">
         {{prefix}} {{ !isNumber ? nombre : nombre | number: '1.0-2'}} {{sufix}}
        </div>
      </div>
    </div>
  </button>
</div>
