button:focus {
    filter: brightness(110%) !important;
    border: 3px double rgb(94, 94, 94) !important;
    color: rgb(32, 32, 32) !important;
    animation: blinkActive 1s infinite;
}

@keyframes blinkActive {
  0% {
    color: white !important;
  }

  50% {
    color: rgb(32, 32, 32) !important;
  }

  100% {
    color: white!important;
  }
}

.warn {
    background-color: #f57c00 !important;
    color: white !important
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  /* Ensures button takes the full width of its container */
  height: 100%; /* Ensures button takes the full height of its container */
  overflow: hidden;  /* Prevents overflow */
  white-space: nowrap;  /* Initially, text should not wrap */
}

button div {
  text-align: center;
  white-space: nowrap;
  overflow-wrap: break-word;  /* Breaks long words */
}