<app-generic-list
  [data]="dataSource.data"
  (filtrar)="onFiltrar()"
  (resetFiltro)="resetFiltro()"
  (adicionar)="onAdicionar()"
  [isAdicionar]="true"
>
  <div filtros>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      style="width: 100%"
    >
      <div fxFlex="30%">
        <frc-searchable-select [list]="sucursales" titulo="Sucursal" [isFilter]="true"
          [compareFields]="[{id:'nombre'}]" (selectionChanged)="sucursalControl.setValue($event?.id)"
          [currentData]="sucursalControl.value">
          <ng-template let-item>
            {{ item.nombre }}
          </ng-template>
        </frc-searchable-select>
      </div>
      <div fxFlex="30%">
        <mat-form-field style="width: 100%">
          <mat-label>Responsable</mat-label>
          <input
            matInput
            [formControl]="responsableControl"
            readonly
            (click)="onBuscarResponsable()"
            placeholder="Click para buscar"
          />
          <mat-icon matSuffix (click)="onBuscarResponsable()" style="cursor: pointer;">search</mat-icon>
          <button
            mat-icon-button
            matSuffix
            *ngIf="responsableControl.value"
            (click)="resetFiltro(); $event.stopPropagation()"
            style="margin-right: -8px;"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div
    table
    style="height: 100%; background-color: rgb(70, 70, 70)"
    fxLayout="column"
    fxLayoutAlign="space-between start"
  >
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      style="width: 100%"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 5%">
          Id
        </th>
        <td mat-cell *matCellDef="let vs" style="text-align: center; width: 5%">
          {{ vs?.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="vehiculo">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Vehículo
        </th>
        <td mat-cell *matCellDef="let vs" style="text-align: center">
          {{ vs?.vehiculo?.chapa | uppercase }} - {{ vs?.vehiculo?.modelo?.marca?.descripcion }} {{ vs?.vehiculo?.modelo?.descripcion }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sucursal">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Sucursal
        </th>
        <td mat-cell *matCellDef="let vs" style="text-align: center">
          {{ vs?.sucursal?.nombre || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="responsable">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Responsable
        </th>
        <td mat-cell *matCellDef="let vs" style="text-align: center">
          {{ vs?.responsable?.persona?.nombre || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Usuario
        </th>
        <td mat-cell *matCellDef="let vs" style="text-align: center">
          {{ vs?.usuario?.nickname || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="creadoEn">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Fecha Creación
        </th>
        <td mat-cell *matCellDef="let vs" style="text-align: center">
          {{ vs?.creadoEn | date: 'short' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="width: 5%; text-align: center">
          ...
        </th>
        <td mat-cell *matCellDef="let vs" style="text-align: center; width: 5%">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="onEditar(vs)"
            >
              Editar
            </button>
            <button
              mat-menu-item
              (click)="onEliminar(vs)"
            >
              Eliminar
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      itemsPerPageLabel="Itens por pagina"
      [pageSizeOptions]="[15, 25, 50, 100]"
      (page)="handlePageEvent($event)"
      [length]="(vehiculoService.paginationSucursalState$ | async)?.totalElements || 0"
      [pageIndex]="(vehiculoService.paginationSucursalState$ | async)?.pageIndex || 0"
      [pageSize]="(vehiculoService.paginationSucursalState$ | async)?.pageSize || 15"
      style="width: 100%"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</app-generic-list>

