<h2 mat-dialog-title>{{ selectedZona?.id != null ? 'Editar Zona' : 'Nueva Zona' }}</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup" fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutGap="16px">
      <mat-form-field fxFlex>
        <mat-label>Descripción</mat-label>
        <input 
          #nombreInput
          type="text"
          matInput
          formControlName="descripcion"
          autocomplete="off"
          oninput="this.value == ' ' ? this.value = '': null"
        />
        <mat-error *ngIf="formGroup.get('descripcion').invalid">Obligatorio</mat-error>
      </mat-form-field>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <mat-label>Activo</mat-label>
      <mat-slide-toggle formControlName="activo">
        {{ activoControl.value ? "Sí" : "No" }}
      </mat-slide-toggle>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button 
    mat-button 
    (click)="onCancel()"
  >
    CANCELAR
  </button>
  <button 
    mat-raised-button 
    [color]="isEditting ? 'accent' : 'primary'"
    [disabled]="isEditting ? !formGroup.valid : false"
    (click)="isEditting ? onSave() : isEditting = true; formGroup.enable(); nombreInput.focus()"
  >
    {{ isEditting ? "GUARDAR" : "EDITAR" }}
  </button>
</mat-dialog-actions>
  