<div fxLayout="column" style="width: 100%; height: 100%">
  <div style="width: 100%; text-align: center">
    <h3>Registrar funcionario</h3>
  </div>
  <mat-tab-group style="height: 90%">
    <mat-tab label="Datos generales">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="50%">
          <mat-form-field style="width: 100%">
            <mat-label>Nombre Completo</mat-label>
            <input matInput type="text" [formControl]="nombrePersona" />
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field style="width: 100%">
            <mat-label>Cédula de identidad</mat-label>
            <input matInput type="text" [formControl]="documentoPersona" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="50">
          <mat-form-field style="width: 100%">
            <mat-label>Apodo</mat-label>
            <input matInput type="text" [formControl]="apodoPersona" />
          </mat-form-field>
        </div>
        <div fxFlex="50">
          <mat-form-field>
            <mat-label>Fecha de nascimiento</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [formControl]="nacimientoPersona"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="50%">
          <mat-form-field style="width: 100%">
            <mat-label>Teléfono</mat-label>
            <input matInput type="text" [formControl]="telefonoPersona" />
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field style="width: 100%">
            <mat-label>Dirección</mat-label>
            <input matInput type="text" [formControl]="direccionPersona" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="50%">
          <mat-form-field style="width: 100%">
            <mat-label>Email</mat-label>
            <input matInput type="text" [formControl]="emailPersona" />
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field style="width: 100%">
            <mat-label>Nombre usuario</mat-label>
            <input matInput type="text" [formControl]="nicknameUsuario" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="50%">
          <mat-form-field style="width: 90%">
            <mat-label>Sucursal</mat-label>
            <mat-select
              [formControl]="sucursalFuncionario"
              name="sucursalFuncionario"
            >
              <mat-option
                *ngFor="let sucursal of sucursalList"
                [value]="sucursal.id"
              >
                {{ sucursal?.id }} - {{ sucursal?.nombre | titlecase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field>
            <mat-label>Fecha de ingreso</mat-label>
            <input
              matInput
              [matDatepicker]="picker2"
              [formControl]="fechaIngresoFuncionario"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="33%">
          <mat-form-field style="width: 100%">
            <mat-label>Sueldo final</mat-label>
            <input
              matInput
              type="text"
              [formControl]="sueldoFuncionario"
              currencyMask
              [options]="currencyMask.currencyOptionsGuarani"
            />
          </mat-form-field>
        </div>
        <div fxFlex="33%">
          <mat-form-field style="width: 100%">
            <mat-label>Crédito</mat-label>
            <input
              matInput
              type="text"
              [formControl]="creditoFuncionario"
              currencyMask
              [options]="currencyMask.currencyOptionsGuarani"
            />
          </mat-form-field>
        </div>
        <div fxFlex="33%" fxLayoutGap="10px">
          <!-- <mat-form-field style="width: 100%"> -->
          <mat-label>Fase prueba</mat-label>
          <mat-checkbox [formControl]="fasePruebaFuncionario"></mat-checkbox>
          <!-- </mat-form-field> -->
        </div>
      </div>
    </mat-tab>
    <!-- <mat-checkbox [checked]="true" class="titulo-color" disabled
      >Básico</mat-checkbox
    >
    <mat-checkbox [formControl]="abrirCajaControl">Abrir caja</mat-checkbox> -->
    <!-- <mat-tab label="Roles">
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-checkbox [formControl]="cajeroControl"
          >Cajero nivel 1</mat-checkbox
        >
      </div>
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-checkbox [formControl]="admControl"
          >Administrador nivel 1</mat-checkbox
        >
      </div>
    </mat-tab> -->
  </mat-tab-group>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div fxFlex="30%">
      <app-boton
        nombre="Cancelar"
        color="primary"
        (clickEvent)="onCancelar()"
      ></app-boton>
    </div>
    <div fxFlex="30%">
      <app-boton
        nombre="Guardar"
        color="accent"
        [disableExpression]="formGroup.invalid"
        (clickEvent)="onGuardar()"
      ></app-boton>
    </div>
  </div>
</div>
