table {
    width: 100%;
}

.filtro-busqueda {
    width: 240px;
    max-width: 240px;
}

:host {
    ::ng-deep {
        .mat-mdc-text-field-wrapper {
            background-color: rgba(255, 255, 255, 0.03) !important;
        }
    }
}
