<app-generic-list
  titulo="Lista de terminales POS"
  class="terminal-list"
  (adicionar)="onAddOrEdit()"
  (filtrar)="onFilter()"
  [isAdicionar]="true"
  (resetFiltro)="onLimpiarFiltros()"
  [data]="dataSource.data"
  style="height: 100%"
>
  <div filtros>
    <div
      fxLayout="row"
      fxLayoutGap="15px"
      fxLayoutAlign="start center"
      style="height: 64px; min-height: 64px;"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex="80%">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input 
              type="text" 
              matInput 
              [formControl]="descripcionControl" 
              (keyup.enter)="onFilter()"
            >
          </mat-form-field>
        </div>
        <div fxFlex="80%">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Código</mat-label>
            <input 
              type="text" 
              matInput 
              [formControl]="codigoControl" 
              (keyup.enter)="onFilter()"
            >
          </mat-form-field>
        </div>
        <div fxFlex="30%">
        <mat-label>Estado</mat-label>
        <mat-checkbox 
          [checked]="activoControl.value == true" 
          [indeterminate]="activoControl.value == null"
          (click)="
            activoControl.setValue(
              activoControl.value === null
              ? true
              : activoControl.value === true
              ? false
              : null
            )">
          {{
            activoControl.value == null ? "Todos":
            activoControl.value ==true ? "Activos": "Inactivos"
          }}  
        </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div table fxFlex fxLayout="column" style="min-height: 0; height: 100%;">
    <div fxFlex style="overflow: auto; min-height: 0;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id" style="width: 10%">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;">Id</th>
        <td mat-cell *matCellDef="let terminalPos" style="width: 10%;"> 
          {{terminalPos.id}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="descripcion" style="width: 20%">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;">Descripción</th>
        <td mat-cell *matCellDef="let terminalPos" style="width: 20%;"> 
          {{terminalPos.descripcion}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="codigo" style="width: 20%">
        <th mat-header-cell *matHeaderCellDef style="width: 20%">Código</th>
        <td mat-cell *matCellDef="let terminalPos" style="width: 20%"> 
          {{terminalPos.codigo}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="creadoEn" style="width: 10%">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;">Creado En</th>
        <td mat-cell *matCellDef="let terminalPos" style="width: 10%;"> 
          {{terminalPos.creadoEn | date:'dd/MM/yyyy HH:mm'}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="creadoPor" style="width: 10%">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;">Creado Por</th>
        <td mat-cell *matCellDef="let terminalPos" style="width: 10%;"> 
          {{terminalPos.usuario.nickname}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="activo" style="width: 10%">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;">Activo</th>
        <td mat-cell *matCellDef="let terminalPos" style="width: 10%;"> 
          {{terminalPos.activo ? 'Si' : 'No'}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones" style="width: 10%">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;">...</th>
        <td mat-cell *matCellDef="let terminalPos; let i = index" style="width: 10%;">
          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onAddOrEdit(terminalPos, i)">
              <mat-icon>edit</mat-icon>
              Editar
            </button>
            <button mat-menu-item (click)="onPrintCode(terminalPos)">
              <mat-icon>print</mat-icon>
              Imprimir código
            </button>
            <button mat-menu-item (click)="onDelete(terminalPos, i)">
              <mat-icon>delete</mat-icon>
              Eliminar
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
    </table>
    </div>
    <mat-paginator
      itemsPerPageLabel="Items por pagina"
      [pageSizeOptions]="[15, 25, 50, 100]"
      [pageIndex]="pageIndex"
      (page)="handlePageEvent($event)"
      [length]="selectedPageInfo?.getTotalElements"
      style="width: 100%"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</app-generic-list>