<app-generic-list
  titulo="Pedidos"
  (adicionar)="onAdd()"
  (filtrar)="onFilter()"
  [isAdicionar]="true"
>
  <div filtros></div>
  <div table>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
      style="width: 100%"
    >
      <ng-container matColumnDef="id" style="width: 5%">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center; width: 5%"
        >
          Id
        </th>
        <td
          mat-cell
          *matCellDef="let pedido"
          style="text-align: center; width: 5%"
        >
          {{ pedido.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="proveedor">
        <th mat-header-cell *matHeaderCellDef style="width: 20%">Proveedor</th>
        <td
          mat-cell
          *matCellDef="let pedido"
          style="width: 20%; text-overflow: ellipsis"
        >
          {{ pedido?.proveedor?.persona?.nombre | uppercase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 10%; text-align: center"
        >
          Fecha
        </th>
        <td
          mat-cell
          *matCellDef="let pedido"
          style="width: 10%; text-align: center"
        >
          {{ pedido?.creadoEn | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="formaPago">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 20%; text-align: center"
        >
          Forma de pago
        </th>
        <td
          mat-cell
          *matCellDef="let pedido"
          style="text-align: center; width: 20%"
        >
          {{ pedido?.formaPago?.descripcion | uppercase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 10%; text-align: center"
        >
          Estado
        </th>
        <td
          mat-cell
          *matCellDef="let pedido"
          style="text-align: center; width: 10%"
        >
          {{ pedido?.estado | enumToString | titlecase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="valorTotal">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 10%; text-align: center"
        >
          Total
        </th>
        <td
          mat-cell
          *matCellDef="let pedido"
          style="text-align: center; width: 10%"
        >
          {{ pedido?.valorTotal | number : "1.0-0" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="responsable">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 20%; text-align: center"
        >
          Responsable
        </th>
        <td
          mat-cell
          *matCellDef="let pedido"
          style="text-align: center; text-overflow: ellipsis; width: 20%"
        >
          {{ pedido?.usuario?.persona?.nombre | uppercase }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 5%; text-align: center"
        >
          ...
        </th>
        <td
          mat-cell
          *matCellDef="let pedido; let i = dataIndex"
          style="text-align: center; width: 5%"
        >
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openPedido(pedido)">
              Ir a pedido
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <mat-divider></mat-divider>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let pedido"
          [attr.colspan]="displayedColumns.length"
          class="expanded"
        >
          <div
            class="example-pedido-detail"
            [@detailExpand]="
              pedido == expandedPedido ? 'expanded' : 'collapsed'
            "
            style="text-align: center"
            fxLayout="column"
            fxLayoutAlign="start start"
          ></div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = dataIndex"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
  </div>
</app-generic-list>
