<p>list-sucursal works!</p>

<app-generic-list
  [data]="dataSource.data"
  (filtrar)="onFiltrar()"
  (resetFiltro)="resetFiltro()"
  (adicionar)="onNewSucursal()"
  [isAdicionar]="true"
>
  <div filtros>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      style="width: 100%"
    >
      <!-- Main search filter -->
      <div fxFlex="40%">
        <mat-form-field style="width: 90%">
          <mat-label>Buscar por nombre o localización</mat-label>
          <input
            #buscar
            type="text"
            matInput
            [formControl]="buscarControl"
            (keyup.enter)="onFiltrar()"
          />
        </mat-form-field>
      </div>
      
      <!-- Deposito filter -->
      <div fxFlex="20%">
        <mat-form-field style="width: 100%">
          <mat-label>Depósito</mat-label>
          <mat-select [formControl]="depositoControl" name="deposito">
            <mat-option [value]="null">Todos</mat-option>
            <mat-option [value]="true">Si</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  
  <div
    table
    style="height: 100%; background-color: rgb(70, 70, 70)"
    fxLayout="column"
    fxLayoutAlign="space-between start"
  >
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
      style="width: 100%"
    >
      <!-- ID Column -->
      <ng-container matColumnDef="id" style="width: 5%">
        <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 5%">
          Id
        </th>
        <td mat-cell *matCellDef="let sucursal" style="text-align: center; width: 5%">
          {{ sucursal?.id }}
        </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Nombre
        </th>
        <td mat-cell *matCellDef="let sucursal" style="text-align: center">
          {{ sucursal?.nombre | titlecase }}
        </td>
      </ng-container>

      <!-- Localizacion Column -->
      <ng-container matColumnDef="localizacion">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Localización
        </th>
        <td mat-cell *matCellDef="let sucursal" style="text-align: center">
          {{ sucursal?.localizacion | titlecase }}
        </td>
      </ng-container>

      <!-- Ciudad Column -->
      <ng-container matColumnDef="ciudad">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Ciudad
        </th>
        <td mat-cell *matCellDef="let sucursal" style="text-align: center">
          {{ sucursal?.ciudad?.descripcion | titlecase }}
        </td>
      </ng-container>

      <!-- Deposito Column -->
      <ng-container matColumnDef="deposito">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Depósito
        </th>
        <td mat-cell *matCellDef="let sucursal" style="text-align: center">
          {{ sucursal?.deposito ? 'Si' : 'No' }}
        </td>
      </ng-container>

      <!-- Deposito Predeterminado Column -->
      <ng-container matColumnDef="depositoPredeterminado">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Depósito Predeterminado
        </th>
        <td mat-cell *matCellDef="let sucursal" style="text-align: center">
          {{ sucursal?.depositoPredeterminado ? 'Si' : 'No' }}
        </td>
      </ng-container>

      <!-- Codigo Establecimiento Factura Column -->
      <ng-container matColumnDef="codigoEstablecimientoFactura">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Código Establecimiento
        </th>
        <td mat-cell *matCellDef="let sucursal" style="text-align: center">
          {{ sucursal?.codigoEstablecimientoFactura }}
        </td>
      </ng-container>

      <!-- Usuario Column -->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Usuario
        </th>
        <td mat-cell *matCellDef="let sucursal" style="text-align: center">
          {{ sucursal?.usuario?.id }}
        </td>
      </ng-container>

      <!-- Action column -->
      <ng-container matColumnDef="acciones">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 5%; text-align: center"
        >
          ...
        </th>
        <td
          mat-cell
          *matCellDef="let sucursal; let i = index"
          style="text-align: center; width: 5%"
        >
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="onEditSucursal(sucursal, i)"
              *ngIf="mainService.usuarioActual?.roles.includes(ROLES.ADMIN)"
            >
              Editar
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <!-- Row definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = dataIndex"
      ></tr>

      <!-- Expandable row detail (optional) -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let sucursal"
          [attr.colspan]="displayedColumns.length"
          class="expanded"
        >
          <div
            class="example-sucursal-detail"
            [@detailExpand]="
              sucursal == expandedSucursal ? 'expanded' : 'collapsed'
            "
            style="text-align: center"
            fxLayout="column"
            fxLayoutAlign="start start"
          >
            <!-- Expanded detail content goes here if needed -->
          </div>
        </td>
      </ng-container>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
    
    <!-- Pagination -->
    <mat-paginator
      itemsPerPageLabel="Itens por pagina"
      [pageSizeOptions]="[15, 25, 50, 100]"
      (page)="handlePageEvent($event)"
      [length]="selectedPageInfo?.getTotalElements"
      style="width: 100%"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</app-generic-list>
