<div
  fxLayout="column"
  style="width: 100%; height: 100%; padding: 20px"
  fxLayoutGap="10px"
>
  <div style="text-align: center; width: 100%">
    <h2>Información del delivery</h2>
  </div>

  <div fxFlex fxLayout="column" fxLayoutGap="10px" style="width: 100%">
    <div fxFlex>
      <mat-form-field style="width: 100%">
        <mat-label>Dirección</mat-label>
        <input
          #direccionInput
          matInput
          type="text"
          [formControl]="direccionControl"
          (keyup.enter)="onDireccionEnter()"
          (keyup.f10)="telefonoInput.focus(); $event.stopPropagation()"
        />
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field style="width: 100%">
        <mat-label>Precio</mat-label>
        <input
          #precioInput
          type="text"
          matInput
          [formControl]="precioControl"
          oninput="this.value == ' ' ? this.value = '': null"
          [matAutocomplete]="autoPrecio"
          (keyup.enter)="onPrecioEnter()"
        />
        <span matSuffix style="cursor: pointer">(F9)</span>
        <mat-autocomplete
          #autoPrecio="matAutocomplete"
          (optionSelected)="onPrecioSelect($event.option.value)"
          (closed)="onPrecioAutocompleteClose()"
        >
          <mat-option
            *ngFor="let precio of filteredPrecioList"
            [value]="precio"
          >
            {{ precio.id }} - {{ precio?.descripcion | uppercase }} -
            {{ precio?.valor | number : "1.0-0" }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!-- <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div fxFlex="30" fxLayoutAlign="start center">
        <mat-form-field style="width: 100%">
          <mat-label>Forma de pago</mat-label>
          <input
            #formaPagoInput
            type="text"
            matInput
            [formControl]="formaPagoControl"
            oninput="this.value == ' ' ? this.value = '': null"
            [matAutocomplete]="autoFormaPago"
            (keyup.enter)="onFormaPagoEnter()"
          />
          <span matSuffix style="cursor: pointer">(F9)</span>
          <mat-autocomplete
            #autoFormaPago="matAutocomplete"
            (optionSelected)="onFormaPagoSelect($event.option.value)"
            (closed)="onFormaPagoAutocompleteClose()"
          >
            <mat-option
              *ngFor="let formaPago of filteredFormaPagoList"
              [value]="formaPago"
            >
              {{ formaPago.id }} - {{ formaPago?.descripcion | uppercase }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex="30">
        <mat-form-field style="width: 100%">
          <mat-label>Moneda</mat-label>
          <input
            #monedaInput
            type="text"
            matInput
            [formControl]="monedaControl"
            oninput="this.value == ' ' ? this.value = '': null"
            [matAutocomplete]="autoMoneda"
            (keyup.enter)="onMonedaEnter()"
          />
          <span matSuffix style="cursor: pointer">(F9)</span>

          <mat-autocomplete
            #autoMoneda="matAutocomplete"
            (optionSelected)="onMonedaSelect($event.option.value)"
            (closed)="onMonedaAutocompleteClose()"
          >
            <mat-option
              *ngFor="let moneda of filteredMonedaList"
              [value]="moneda"
            >
              {{ moneda.id }} -
              {{ moneda?.descripcion | uppercase }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex="30">
        <mat-form-field style="width: 100%">
          <mat-label>Vuelto para</mat-label>
          <input
            #vueltoParaInput
            matInput
            type="text"
            [formControl]="vueltoParaControl"
            (keyup.enter)="onVueltoParaEnter()"
            currencyMask
            [options]="currencyMask.currencyOptionsGuarani"
          />
        </mat-form-field>
      </div>
      <div fxFlex="10%">
        <mat-icon
          style="font-size: 2em; text-align: right"
          (click)="isCustomVueltoPara = !isCustomVueltoPara; onVueltoParaEnter(); formaPagoInput.select()"
        >
          {{ isCustomVueltoPara ? "do_not_disturb_on" : "add_circle" }}
        </mat-icon>
      </div>
    </div>
    <div *ngIf="isCustomVueltoPara">
      <table class="table" style="background-color: white; color: black">
        <thead style="height: 35px">
          <tr style="background-color: rgb(209, 209, 209)">
            <th scope="col" style="text-align: center; width: 40%">Moneda</th>
            <th scope="col" style="text-align: center; width: 40%">Valor</th>
            <th scope="col" style="text-align: center; width: 10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of vueltoParaList; let i = index">
            <td
              style="
                text-align: center;
                width: 40%;
                padding-bottom: 0px;
                padding-top: 5px;
              "
            >
              {{ item?.moneda?.denominacion | titlecase }}
            </td>
            <td
              style="
                text-align: center;
                width: 40%;
                padding-bottom: 0px;
                padding-top: 5px;
              "
            >
              {{ item?.valor | number : "1.0-2" }}
            </td>
            <td
              style="
                text-align: center;
                width: 10%;
                padding-bottom: 0px;
                padding-top: 5px;
              "
            >
              <mat-icon style="color: red">clear</mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      *ngIf="selectedFormaPago?.descripcion == 'EFECTIVO'"
      fxFlex
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <div fxFlex="45">
        <mat-form-field style="width: 100%">
          <mat-label>Moneda</mat-label>
          <input
            #monedaVueltoInput
            type="text"
            matInput
            [formControl]="monedaVueltoControl"
            oninput="this.value == ' ' ? this.value = '': null"
            [matAutocomplete]="autoMonedaVuelto"
            (keyup.enter)="onMonedaVueltoEnter()"
          />
          <span matSuffix style="cursor: pointer">(F9)</span>

          <mat-autocomplete
            #autoMonedaVuelto="matAutocomplete"
            (optionSelected)="onMonedaVueltoSelect($event.option.value)"
            (closed)="onMonedaVueltoAutocompleteClose()"
          >
            <mat-option
              *ngFor="let moneda of filteredMonedaVueltoList"
              [value]="moneda"
            >
              {{ moneda.id }} -
              {{ moneda?.descripcion | uppercase }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex="45">
        <mat-form-field style="width: 100%">
          <mat-label>Vuelto</mat-label>
          <input
            #vueltoInput
            matInput
            type="text"
            [formControl]="vueltoControl"
            currencyMask
            (keyup.enter)="onVueltoEnter()"
            [options]="
              selectedMonedaVuelto?.denominacion == 'GUARANI'
                ? currencyMask.currencyOptionsGuarani
                : currencyMask.currencyOptionsNoGuarani
            "
          />
        </mat-form-field>
      </div>
      <div fxFlex style="width: 100%">
        <mat-icon
          style="font-size: 2em; text-align: right; width: 100%"
          (click)="isCustomVuelto = !isCustomVuelto"
        >
          {{ isCustomVuelto ? "do_not_disturb_on" : "add_circle" }}
        </mat-icon>
      </div>
    </div>
    <div *ngIf="isCustomVuelto">
      <table class="table" style="background-color: white; color: black">
        <thead style="height: 35px">
          <tr style="background-color: rgb(209, 209, 209)">
            <th scope="col" style="text-align: center; width: 40%">Moneda</th>
            <th scope="col" style="text-align: center; width: 40%">Valor</th>
            <th scope="col" style="text-align: center; width: 10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of vueltoList; let i = index">
            <td
              style="
                text-align: center;
                width: 40%;
                padding-bottom: 0px;
                padding-top: 5px;
              "
            >
              {{ item?.moneda?.denominacion | titlecase }}
            </td>
            <td
              style="
                text-align: center;
                width: 40%;
                padding-bottom: 0px;
                padding-top: 5px;
              "
            >
              {{ item?.valor | number : "1.0-2" }}
            </td>
            <td
              style="
                text-align: center;
                width: 10%;
                padding-bottom: 0px;
                padding-top: 5px;
              "
            >
              <mat-icon style="color: red">clear</mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <div fxFlex style="background-color: white; width: 100%">
      <table class="table" style="font-size: 1em">
        <thead>
          <tr style="background-color: rgb(209, 209, 209); height: 2vh">
            <th
              scope="col"
              style="text-align: center; width: 10%; padding: 2px"
            >
              #
            </th>
            <th scope="col" style="width: 20%; padding: 5px">Moneda</th>
            <th
              scope="col"
              style="text-align: center; width: 20%; padding: 5px"
            >
              Forma Pago
            </th>
            <th
              scope="col"
              style="text-align: center; width: 30%; padding: 5px"
            >
              Valor
            </th>
            <th
              scope="col"
              style="text-align: center; width: 10%; padding: 5px"
            >
              Tipo
            </th>
            <th
              scope="col"
              style="text-align: center; width: 10%; padding: 5px"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cobroItemList; let i = index">
            <td
              style="padding-bottom: 5px; padding-top: 5px; text-align: center"
            >
              {{ i + 1 }}
            </td>
            <td style="padding-bottom: 0; padding-top: 5px">
              {{ item.moneda?.denominacion | titlecase }}
            </td>
            <td
              style="padding-bottom: 5px; padding-top: 5px; text-align: center"
            >
              {{ item.formaPago?.descripcion }}
            </td>
            <td
              *ngIf="item.moneda?.id == 1"
              style="padding-bottom: 5px; padding-top: 5px; text-align: center"
            >
              {{ item.valor | number : "1.0-0" }}
            </td>
            <td
              *ngIf="item.moneda?.id != 1"
              style="padding-bottom: 5px; padding-top: 5px; text-align: center"
            >
              {{ item.valor | number : "1.2-2" }}
            </td>
            <td
              *ngIf="item.vuelto && !item.aumento"
              style="padding-bottom: 5px; padding-top: 5px; text-align: center"
            >
              Vuelto
            </td>
            <td
              *ngIf="item.descuento"
              style="padding-bottom: 5px; padding-top: 5px; text-align: center"
            >
              Descuento
            </td>
            <td
              *ngIf="item.aumento"
              style="padding-bottom: 5px; padding-top: 5px; text-align: center"
            >
              Aumento
            </td>
            <td
              *ngIf="!item.descuento && !item.vuelto && !item.aumento"
              style="padding-bottom: 5px; padding-top: 5px; text-align: center"
            >
              Pago
            </td>
            <td
              style="padding-bottom: 5px; padding-top: 5px; text-align: center"
            >
              <mat-icon style="color: red" (click)="onDeleteItem(item, i)"
                >clear</mat-icon
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="30" style="color: white">
        <mat-form-field style="width: 100%">
          <mat-label>Forma de pago</mat-label>
          <input
            #formaPagoInput
            type="text"
            matInput
            [formControl]="formaPagoControl"
            oninput="this.value == ' ' ? this.value = '': null"
            [matAutocomplete]="autoFormaPago"
            (keyup.enter)="onFormaPagoEnter()"
          />
          <span matSuffix style="cursor: pointer">(F9)</span>
          <mat-autocomplete
            #autoFormaPago="matAutocomplete"
            (optionSelected)="onFormaPagoSelect($event.option.value)"
            (closed)="onFormaPagoAutocompleteClose()"
          >
            <mat-option
              *ngFor="let formaPago of filteredFormaPagoList"
              [value]="formaPago"
            >
              {{ formaPago.id }} - {{ formaPago?.descripcion | uppercase }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex="30">
        <mat-form-field style="width: 100%">
          <mat-label>Moneda</mat-label>
          <input
            #monedaInput
            type="text"
            matInput
            [formControl]="monedaControl"
            oninput="this.value == ' ' ? this.value = '': null"
            [matAutocomplete]="autoMoneda"
            (keyup.enter)="onMonedaEnter()"
          />
          <span matSuffix style="cursor: pointer">(F9)</span>

          <mat-autocomplete
            #autoMoneda="matAutocomplete"
            (optionSelected)="onMonedaSelect($event.option.value)"
            (closed)="onMonedaAutocompleteClose()"
          >
            <mat-option
              *ngFor="let moneda of filteredMonedaList"
              [value]="moneda"
            >
              {{ moneda.id }} -
              {{ moneda?.denominacion | uppercase }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex="30" fxLayout="row" style="width: 100%">
        <mat-form-field style="width: 100%">
          <mat-label>Valor</mat-label>
          <input
            #vueltoInput
            matInput
            type="text"
            [formControl]="vueltoControl"
            style="color: white"
            currencyMask
            [options]="
              selectedMoneda?.id == 1
                ? currencyMask.currencyOptionsGuarani
                : currencyMask.currencyOptionsNoGuarani
            "
            autocomplete="off"
            (keydown)="onVueltoKeyup($event.key)"
            (keyup.enter)="
              isAumento = false; isDescuento = false; addCobroDetalle()
            "
          />
          <button
            type="button"
            *ngIf="vueltoControl.value != null"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="vueltoControl.setValue(null)"
          >
            <mat-icon style="color: white">close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div
        fxFlex="10%"
        fxLayout="row"
        fxLayoutAlign="space-around center"
        style="font-size: 2em"
      >
        <div fxFlex *ngIf="isAumento">
          <mat-icon style="font-size: 1.2em" (click)="onAumento()">
            vertical_align_top
          </mat-icon>
        </div>
        <div fxFlex *ngIf="isDescuento">
          <mat-icon style="font-size: 1.2em" (click)="onDescuento()">
            vertical_align_bottom
          </mat-icon>
        </div>
      </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="10px" style="width: 100%">
      <div fxFlex="30%">
        <mat-form-field style="width: 100%">
          <mat-label>Teléfono</mat-label>
          <input
            #telefonoInput
            matInput
            type="text"
            [formControl]="telefonoControl"
            (keyup.enter)="onTelefonoEnter()"
          />
          <mat-error *ngIf="telefonoControl.invalid"
            >El número de teléfono es obligatorio</mat-error
          >
        </mat-form-field>
      </div>
      <div fxFlex="70%">
        <mat-form-field style="width: 100%">
          <mat-label>Cliente</mat-label>
          <input
            #clienteInput
            type="text"
            matInput
            [formControl]="clienteControl"
            oninput="this.value == ' ' ? this.value = '': null"
            [matAutocomplete]="autoCliente"
            (keyup.enter)="onClienteEnter()"
          />
          <span matSuffix style="cursor: pointer">(F9)</span>

          <mat-autocomplete
            #autoCliente="matAutocomplete"
            (optionSelected)="onClienteSelect($event.option.value)"
            (closed)="onClienteAutocompleteClose()"
          >
            <mat-option
              *ngFor="let cliente of filteredClienteList"
              [value]="cliente"
            >
              {{ cliente?.persona?.id }} -
              {{ cliente?.persona?.nombre | uppercase }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxLayout="column" style="width: 100%" fxLayoutGap="8px">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="50%" style="width: 100%; text-align: center">Moneda</div>
      <div fxFlex="50%" style="width: 100%; text-align: center">Total</div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="50%" style="width: 100%; text-align: center">
        <img
          src="assets/flags/py/py32.png"
          alt="br"
          style="width: 25px; height: 25px"
        />
      </div>
      <div fxFlex="50%" style="text-align: center; font-size: 1.2em">
        {{
          selectedDelivery?.venta?.valorTotal + selectedPrecio?.valor
            | number : "1.0-0"
        }}
      </div>
      <!-- <div fxFlex="33%" style="text-align: center; font-size: 1.2em">
        {{
          selectedVuelto -
            (selectedDelivery?.venta?.valorTotal + selectedPrecio?.valor)
            | number : "1.0-0"
        }}
      </div> -->
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="50%" style="width: 100%; text-align: center">
        <img
          src="assets/flags/br/br32.png"
          alt="br"
          style="width: 25px; height: 25px"
        />
      </div>
      <div fxFlex="50%" style="text-align: center; font-size: 1.2em">
        {{
          (selectedDelivery?.venta?.valorTotal + selectedPrecio?.valor) /
            cambioRs | number : "1.2-2"
        }}
      </div>
      <!-- <div fxFlex="33%" style="text-align: center; font-size: 1.2em">
        {{
          vueltoRs -
            (selectedDelivery?.venta?.valorTotal + selectedPrecio?.valor) /
              cambioRs | number : "1.2-2"
        }}
      </div> -->
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="50%" style="width: 100%; text-align: center">
        <img
          src="assets/flags/usa/usa32.png"
          alt="br"
          style="width: 25px; height: 25px"
        />
      </div>
      <div fxFlex="50%" style="text-align: center; font-size: 1.2em">
        {{
          (selectedDelivery?.venta?.valorTotal + selectedPrecio?.valor) /
            cambioDs | number : "1.2-2"
        }}
      </div>
    </div>
  </div>
  <app-boton
    #guardarBtn
    nombre="Guardar"
    color="accent"
    (clickEvent)="onGuardar()"
    style="height: 35px"
  ></app-boton>
  <app-boton
    nombre="Cancelar"
    (clickEvent)="onCancelar()"
    style="height: 35px"
  ></app-boton>
</div>
