<div fxLayout="row" style="width: 100%" fxLayoutAlign="center start">
  <div fxLayout="column" style="width: 100%;" [style.height.px]="containerHeight">
    <div fxLayout="column">
      <div style="width: 100%; text-align: center">
        <h3 style="margin: 0px">{{ titulo }}</h3>
      </div>
      <mat-card
        appearance="outlined"
        fxLayout="row"
        fxFlex="100%"
        style="width: 100%; background-color: rgb(32, 32, 32); padding: 10px"
      >
        <div [fxFlex]="!isMenu ? '100%' : '90%'">
          <ng-content select="[filtros]"></ng-content>
        </div>
        <div
          *ngIf="isMenu"
          [fxFlex]="isMenu ? '10%' : '0%'"
          fxLayout="column"
          fxLayoutAlign="start center"
          style="height: 100%"
          fxLayoutGap="5px"
        >
          <div class="boton">
            <ng-content select="[buscar]"></ng-content>
            <app-boton (clickEvent)="onFiltrar()" [disableExpression]="disableFilter" [bdcWalkTriggerFor]="buscarTrigger" nombre="Buscar"></app-boton>
            <!-- <button
              mat-raised-button
              color="primary"
              (click)="onFiltrar()"
              style="width: 100%"
              [disabled]="disableFilter"
              [bdcWalkTriggerFor]="buscarTrigger"
            >
              Buscar
            </button> -->
          </div>
          <div class="boton">
            <app-boton (clickEvent)="onResetFiltro()" nombre="Limpiar Filtro"></app-boton>
            <!-- <button
              mat-raised-button
              color="primary"
              (click)="onResetFiltro()"
              style="width: 100%"
            >
              Limpiar Filtro
            </button> -->
          </div>
          <div *ngIf="isAdicionar" class="boton">
            <app-boton (clickEvent)="onAdd()" nombre="+ Adicionar"></app-boton>
            <!-- <button
              mat-raised-button
              color="primary"
              (click)="onAdd()"
              style="width: 100%"
            >
              + Adicionar
            </button> -->
          </div>
          <div *ngIf="isCustom" class="boton">
            <app-boton (clickEvent)="onCustomFunc()" [nombre]="customName"></app-boton>
            <!-- <button
              mat-raised-button
              color="primary"
              (click)="onCustomFunc()"
              style="width: 100%"
            >
              {{ customName }}
            </button> -->
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="80" style="overflow-y: auto">
      <div fxLayout="column" style="height: 100%;">
        <ng-content select="[table]"></ng-content>
        <div style="width: 100%" fxLayout="row" fxLayoutAlign="center center">
          <button
            *ngIf="data?.length > 0 && isCargarMas"
            mat-button
            color="accent"
            (click)="onCargarMasDatos()"
            [disabled]="isLastPage"
          >
            CARGAR MAS
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
