<div mat-dialog-title>
    <div fxLayout="row" fxLayoutAlign="start center">
        <span class="titulo">REGISTRAR NUEVO TIPO DE MUEBLE</span>
    </div>
</div>

<mat-divider style="opacity: 0.1;"></mat-divider>

<mat-dialog-content style="min-width: 500px; padding-top: 20px;">
    <div fxLayout="column" fxLayoutGap="20px">

        <div class="form-section">
            <h3 class="section-title">1. REGISTRAR NUEVA FAMILIA (SI NO EXISTE)</h3>
            <form [formGroup]="familiaForm" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nombre de la Familia</mat-label>
                    <input matInput formControlName="descripcion" placeholder="Ej: OFICINA"
                        (keyup.enter)="onGuardarFamilia()">
                </mat-form-field>
                <button mat-raised-button color="accent" [disabled]="familiaForm.invalid" (click)="onGuardarFamilia()">
                    <mat-icon>save</mat-icon> GUARDAR FAMILIA
                </button>
            </form>
        </div>

        <mat-divider style="opacity: 0.1;"></mat-divider>

        <div class="form-section">
            <h3 class="section-title">2. REGISTRAR NUEVO TIPO</h3>
            <div fxLayout="column" fxLayoutGap="15px">
                <frc-searchable-select titulo="Seleccione Familia" [list]="familias$ | async" [isFilter]="false"
                    [initialValue]="false" [currentData]="currentFamilia" (inputChanged)="onFiltrarFamilias($event)"
                    (selectionChanged)="onSelectFamilia($event)" [compareFields]="['descripcion']">
                    <ng-template let-familia>
                        {{ familia.descripcion | uppercase }}
                    </ng-template>
                </frc-searchable-select>

                <form [formGroup]="tipoForm" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Nombre del Tipo</mat-label>
                        <input matInput formControlName="descripcion" placeholder="Ej: ESCRITORIO"
                            (keyup.enter)="onGuardarTipo()">
                    </mat-form-field>
                </form>
            </div>
        </div>

    </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" style="padding: 15px 24px;">
    <button mat-button (click)="onCancelar()" style="margin-right: 10px;">CANCELAR</button>
    <button mat-raised-button color="accent" [disabled]="tipoForm.invalid" (click)="onGuardarTipo()">
        <mat-icon>save</mat-icon> GUARDAR Y SELECCIONAR
    </button>
</mat-dialog-actions>
