.selected {
  background-color: #43a047;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item:hover {
  background-color: #43a047;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
:host::ng-deep .mat-list-item-content {
  width: 100%;
}


// ::ng-deep ngx-extended-pdf-viewer {
//   .printedPage {
//     page-break-after: always;
//     page-break-inside: avoid;
//     height: 100%;
//     width: 100%;
//     // display: block !important;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
// }

// .custom-viewer {
//   ::ng-deep .printedPage {
//     page-break-after: always;
//     page-break-inside: avoid;
//     height: 100%;
//     width: 100%;
//     display: block !important;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
// }

// .custom-viewer {
//   ::ng-deep .printedPage {
//     height: 100%;
//     width: 100%;
//     page-break-after: always;
//     page-break-inside: avoid;
//   }
// }

// @media print {
//   ::ng-deep ngx-extended-pdf-viewer .printedPage {
//     flex-direction: unset;
//     justify-content: unset;
//     align-items: unset;
//     display: block !important;
//   }
// }

// @media print {
//   ::ng-deep ngx-extended-pdf-viewer {
//     height: auto !important;
//   }

//   ::ng-deep ngx-extended-pdf-viewer .printedPage {
//     page-break-after: always;
//   }
// }

// #printContainer { position: absolute; }
