<div class="container" style="width: 70vw; height: 100%">
  <form [formGroup]="formGroup">
    <div fxLayout="column">
      <div style="text-align: center">
        <h3>Buscar Producto</h3>
      </div>
      <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="space-around start"
        fxLayoutGap="10px"
        style="width: 100%"
        *ngIf="data?.mostrarOpciones == true"
      >
        <div fxFlex="10%">
          <mat-form-field style="width: 80%">
            <mat-label>Cantidad</mat-label>
            <input
              #cantidad
              formControlName="cantidad"
              type="number"
              matInput
              style="font-size: 1.5em; text-align: center"
              min="1"
              (click)="formGroup.controls.cantidad.setValue(1)"
              autocomplete="off"
            />
          </mat-form-field>
        </div>
        <br />
        <div fxFlex="8" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
          <button
            type="button"
            mat-raised-button
            color="primary"
            style="font-size: 1.3em; width: 2em; height: 2em"
            (click)="setCantidad(i)"
          >
            {{ i }}
          </button>
        </div>
        <div fxFlex="9">
          <button
            type="button"
            mat-raised-button
            color="primary"
            style="font-size: 1.5em; width: 1.5em; height: 1.5em"
            (click)="formGroup.controls.cantidad.setValue(1)"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="80">
          <mat-form-field appearance="legacy" style="width: 95%">
            <mat-label>Ingresar texto</mat-label>
            <input
              #buscarInput
              matInput
              placeholder="Buscar Producto"
              autocomplete="off"
              formControlName="buscarControl"
              oninput="(this.value == ' ') ? this.value = null : null ;this.value = this.value.toUpperCase()"
              (keydown)="keydownEvent($event.key)"
            />
          </mat-form-field>
        </div>
        <div fxFlex="20" *ngIf="data?.mostrarOpciones != false">
          <button
            type="button"
            mat-raised-button
            [color]="mostrarTipoPrecios ? 'accent' : 'primary'"
            (click)="mostrarTipoPrecios = true"
          >
            Mostrar opciones (F1)
          </button>
        </div>
        <div fxFlex="20%" *ngIf="data?.mostrarOpciones != false">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="abrirProductoDialog()"
          >
            + Producto
          </button>
        </div>
      </div>
      <div class="table-container" fxLayout="row">
        <div fxFlex>
          <table
            mat-table
            [dataSource]="dataSource"
            multiTemplateDataRows
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Id</th>
              <td mat-cell *matCellDef="let producto">{{ producto.id }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>Descripción</th>
              <td mat-cell *matCellDef="let producto" style="text-align: start">
                {{ producto.descripcion }}
              </td>
            </ng-container>

            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef>Código Principal</th>
              <td mat-cell *matCellDef="let producto" style="text-align: start">
                {{ producto?.codigoPrincipal | uppercase }}
              </td>
            </ng-container>

            <ng-container
              *ngIf="data?.mostrarStock == true"
              matColumnDef="existencia"
            >
              <th mat-header-cell *matHeaderCellDef style="text-align: center">
                Existencia
              </th>
              <td
                mat-cell
                *matCellDef="let producto; let id = index"
                style="text-align: center"
              >
                <button
                  type="button"
                  *ngIf="producto?.stockPorProducto == null"
                  mat-flat-button
                  (click)="mostrarStock(producto); $event.stopPropagation()"
                >
                  Ver
                </button>
                <div *ngIf="producto?.stockPorProducto != null">
                  {{ producto?.stockPorProducto | number: "1.0-2" }}
                </div>
              </td>
            </ng-container>

            <ng-container
              *ngIf="data?.mostrarStock == true"
              matColumnDef="acciones"
            >
              <th mat-header-cell *matHeaderCellDef style="text-align: center">
                ...
              </th>
              <td
                mat-cell
                *matCellDef="let producto; let id = index"
                style="text-align: center"
              >
                <button
                  type="button"
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  (click)="$event.stopPropagation()"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    type="button"
                    mat-menu-item
                    (click)="abrirProductoDialog(producto)"
                  >
                    Editar Producto
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <mat-divider></mat-divider>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let producto"
                [attr.colspan]="displayedColumns.length"
                class="expanded"
              >
                <div
                  class="example-producto-detail"
                  [@detailExpand]="
                    producto == expandedProducto ? 'expanded' : 'collapsed'
                  "
                  style="text-align: center"
                  fxLayout="column"
                  fxLayoutAlign="start start"
                >
                  <br />

                  <div
                    *ngIf="producto.presentaciones != null"
                    fxFlex
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    fxLayoutGap="5px"
                  >
                    <div
                      fxFlex
                      *ngFor="
                        let presentacion of producto.presentaciones;
                        let i = index
                      "
                      #presentacionCard
                      fxLayout="row wrap"
                      fxLayoutGap="20px"
                      fxLayoutAlign="start center"
                      style="width: 100%;"
                    >
                      <div>
                        <mat-card
                          [class.selectedCard]="
                            presentacion?.id == selectedPresentacion?.id
                          "
                          [class.highlight]="selectedPresentacionRowIndex == i"
                          
                          style="
                            padding: 0;
                            margin: 0;
                            margin-top: 5px;
                            background-color: #f44336;
                            width: 125px;
                            height: 125px;
                          "
                          (click)="
                            mostrarTipoPrecios
                              ? onMostrarTipoPrecios(presentacion)
                              : onPresentacionClick(presentacion, producto, presentacion?.precios[0])
                          "
                        >
                          <div
                            fxLayout="column"
                            fxLayoutAlign="start space-around"
                            fxLayoutGap="5px"
                          >
                            <div>
                              <img
                                [src]="
                                  presentacion?.imagenPrincipal != null
                                    ? presentacion.imagenPrincipal
                                    : 'assets/no-image.png'
                                "
                                style="
                                  width: 100%;
                                  height: 100%;
                                  object-fit: contain;
                                "
                              />
                            </div>
                          </div>
                        </mat-card>
                        <div style="text-align: center; font-weight: bold">
                          <div>
                           Cantidad: {{ presentacion.cantidad | number: "1.0-2" }}
                          </div>
                        </div>
                      </div>

                      <div
                        fxFlex
                        *ngFor="
                          let precio of presentacion.precios;
                          let i = index
                        "
                      >
                        <mat-card
                          style="
                            padding-top: 10px;
                            margin: 0;
                            margin-top: 5px;
                            background-color: #f44336;
                            height: 100px;
                            width: 100px;
                          "
                          [style.background-color]="
                            selectedPresentacion == presentacion
                              ? '#43A047'
                              : '#f44336'
                          "
                          (click)="
                            selectedPrecio = precio;
                            onPresentacionClick(presentacion, producto, precio)
                          "
                        >
                          <div
                            fxLayout="column"
                            fxLayoutAlign="center center"
                            fxLayoutGap="10px"
                          >
                            <div
                              fxFlex
                              style="text-align: center; font-size: 1em"
                            >
                              {{ precio?.tipoPrecio?.descripcion | uppercase }}
                              ({{ precio?.tipoPrecio?.id }})
                            </div>
                            <div style="text-align: center; font-size: 1em">
                              {{ precio?.precio | number: "1.0-0" }}
                            </div>
                          </div>
                        </mat-card>
                      </div>
                      <div style="width: 100%; text-align: center;">
                        <mat-divider style="width: 90%; height: 100%;"></mat-divider>
                      </div>
                    </div>
                  </div>
                  <div fxFlex>
                    <mat-spinner
                      *ngIf="producto.presentaciones == null"
                    ></mat-spinner>
                  </div>

                  <br />
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              [class.tableRows]="selectedRowIndex != i"
              [class.highlight]="selectedRowIndex == i"
              #tableRows
              mat-row
              *matRowDef="let row; columns: displayedColumns; let i = dataIndex"
              (click)="expandedProducto = null; highlight(i);tableKeyDownEvent('Enter', i)"
              tabindex="999"
              (keydown)="tableKeyDownEvent($event.key, selectedRowIndex);"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="example-detail-row"
            ></tr>
          </table>
          <br />
          <div style="text-align: center">
            <button
              type="button"
              type="button"
              mat-fab
              color="primary"
              (click)="cargarMasDatos()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- [ngClass]="{'highlight': selectedRowIndex == i}"
          class="example-producto-row"
          [class.example-expanded-row]="expandedproducto === producto"
          (click)="highlight(row, i); expandedproducto = expandedproducto === producto ? null : producto"
          tabindex="999"
          (keydown.arrowdown)="arrowDownEvent()"
          (keydown.arrowup)="arrowUpEvent()"
          (keydown.enter)="selectRowEvent()" -->

<!-- class="example-producto-row"
      [class.example-expanded-row]="expandedProducto === producto" -->
