<div fxLayout="column" fxLayoutGap="10px" style="width: 100%; height: 100%">
  <h2 style="width: 100%; text-align: center">Delivery</h2>
  <div
    fxFlex="100"
    fxLayout="row"
    fxLayoutGap="10px"
    style="width: 100%; height: 100%"
  >
    <div fxFlex="70" style="height: 100%">
      <mat-card class="card" fxLayout="column" style="height: 100%">
        <div fxFlex="10" fxLayout="column">
          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <hr fxFlex="40" style="background-color: grey" />
            Totales
            <hr fxFlex="40" style="background-color: grey" />
          </div>
          <div
            class="cambios"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div fxFlex="30" FxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="20">
                <img
                  src="assets/flags/py/py32.png"
                  alt="br"
                  style="width: 50%; height: 50%"
                />
              </div>
              <div fxFlex="80" class="valores-cambios" style="font-size: 1.2em">
                {{ totalConDelivery | number }}
              </div>
            </div>
            <div fxFlex="30" FxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="20">
                <img
                  src="assets/flags/br/br32.png"
                  alt="br"
                  style="width: 50%; height: 50%"
                />
              </div>
              <div fxFlex="70" class="valores-cambios" style="font-size: 1.2em">
                {{ totalConDelivery / cambioRs | number: "1.2-2" }}
              </div>
            </div>
            <div fxFlex="30" FxLayout="row" fxLayoutAlign="star center">
              <div fxFlex="20">
                <img
                  src="assets/flags/usa/usa32.png"
                  alt="br"
                  style="width: 50%; height: 50%"
                />
              </div>
              <div fxFlex="80" class="valores-cambios" style="font-size: 1.2em">
                {{ totalConDelivery / cambioDs | number: "1.2-2" }}
              </div>
            </div>
          </div>
          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <hr fxFlex="40" style="background-color: grey" />
            Vuelto
            <hr fxFlex="40" style="background-color: grey" />
          </div>
          <div
            class="cambios"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div fxFlex="30" FxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="20">
                <img
                  src="assets/flags/py/py32.png"
                  alt="br"
                  style="width: 50%; height: 50%"
                />
              </div>
              <div fxFlex="80" class="valores-cambios" style="font-size: 1.2em">
                {{ saldoGs | number }}
              </div>
            </div>
            <div fxFlex="30" FxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="20">
                <img
                  src="assets/flags/br/br32.png"
                  alt="br"
                  style="width: 50%; height: 50%"
                />
              </div>
              <div fxFlex="70" class="valores-cambios" style="font-size: 1.2em">
                {{ saldoGs / cambioRs | number: "1.2-2" }}
              </div>
            </div>
            <div fxFlex="30" FxLayout="row" fxLayoutAlign="star center">
              <div fxFlex="20">
                <img
                  src="assets/flags/usa/usa32.png"
                  alt="br"
                  style="width: 50%; height: 50%"
                />
              </div>
              <div fxFlex="80" class="valores-cambios" style="font-size: 1.2em">
                {{ saldoGs / cambioDs | number: "1.2-2" }}
              </div>
            </div>
          </div>
        </div>
        <br />
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div fxFlex="10%">
            <mat-form-field style="width: 100%">
              <mat-label>Prefijo</mat-label>
              <mat-select
                #matPrefixSelect
                [formControl]="telefonoPrefixControl"
                name="prefix"
                (keyup.enter)="onPrefixSelect(); $event.stopPropagation()"
              >
                <mat-option *ngFor="let prefix of prefixList" [value]="prefix">
                  {{ prefix }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="30%">
            <mat-form-field style="width: 100%">
              <mat-label>Teléfono</mat-label>
              <input
                #telefonoInput
                matInput
                type="text"
                [formControl]="telefonoControl"
                (keyup.enter)="onTelefonoEnter()"
                (focusout)="verificarTelefono()"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div fxFlex="50%">
            <mat-form-field style="width: 100%">
              <mat-label>Dirección/Referencia</mat-label>
              <input
                #direccionInput
                matInput
                type="text"
                [formControl]="direccionControl"
                (keyup.enter)="onDireccionEnter()"
                (keyup.tab)="onDireccionEnter()"
              />
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field style="width: 100%">
              <mat-select
                [formControl]="barrioControl"
                placeholder="Barrio"
                #barrioSelect
                (selectionChange)="onBarrioChange($event)"
                (keyup.enter)="onBarrioEnter()"
                (click)="onBarrioEnter()"
              >
                <mat-option>
                  <ngx-mat-select-search
                    [formControl]="barrioFilterControl"
                    placeholderLabel=""
                    noEntriesFoundLabel="Barrio no encontrado"
                    style="text-transform: uppercase"
                    #barrioFilterInput
                  >
                    <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option></mat-option>
                <mat-option
                  *ngFor="let barrio of filteredBarriosList"
                  [value]="barrio"
                >
                  <span>{{ barrio.id }} - </span>
                  <span>{{ barrio?.descripcion | uppercase }} </span>
                  <span *ngIf="barrio?.precioDelivery != null">
                    - Precio
                    {{ barrio?.precioDelivery?.valor | number: "1.0-2" }}</span
                  >
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div
          fxFlex="10"
          fxLayout="row wrap"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <div fxFlex="10">Precio:</div>
          <div
            fxFlex="15%"
            *ngFor="let precio of precioDeliveryList; let i = index"
          >
            <app-boton
              #preciosList
              [color]="precio == precioControl.value ? 'accent' : null"
              [nombre]="precio?.valor"
              [sufix]="'(' + precio.id + ')'"
              (keyup.arrowRight)="navigatePrecios(i + 1)"
              (keyup.arrowLeft)="navigatePrecios(i - 1)"
              (clickEvent)="navigatePrecios(i); onPrecioSelect()"
              (keyup.enter)="navigatePrecios(i); onPrecioSelect()"
              clickDelay="100"
            ></app-boton>
          </div>
        </div>
        <div fxFlex="5" fxLayout="column">
          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <hr fxFlex="40" style="background-color: grey" />
            Pago
            <hr fxFlex="40" style="background-color: grey" />
          </div>
        </div>
        <div
          fxFlex="10"
          fxLayout="row wrap"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <div fxFlex="10">Forma pago:</div>
          <div
            fxFlex="15%"
            *ngFor="let formaPago of formaPagoList; let i = index"
          >
            <app-boton
              #formaPagoBtnList
              [color]="formaPago == formaPagoControl.value ? 'accent' : null"
              [nombre]="formaPago?.descripcion + '(' + formaPago.id + ')'"
              (keyup.arrowRight)="navigateFormaPago(i + 1)"
              (keyup.arrowLeft)="navigateFormaPago(i - 1)"
              (clickEvent)="navigateFormaPago(i); onFormaPagoSelect()"
              (keyup.enter)="navigateFormaPago(i); onFormaPagoSelect()"
              (keyup)="onFormaPagoKeyUp($event.key)"
              clickDelay="100"
            ></app-boton>
          </div>
        </div>
        <div
          fxFlex="10"
          fxLayout="row wrap"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <div fxFlex="10">Moneda:</div>
          <div fxFlex="15%" *ngFor="let moneda of monedaList; let i = index">
            <app-boton
              *ngIf="!moneda?.denominacion.includes('PESO ARG')"
              #monedasBtnList
              [color]="moneda == monedaControl.value ? 'accent' : null"
              [nombre]="moneda?.denominacion + '(' + moneda?.id + ')'"
              (keyup.arrowRight)="navigateMoneda(i + 1)"
              (keyup.arrowLeft)="navigateMoneda(i - 1)"
              (clickEvent)="navigateMoneda(i); onMonedaSelect()"
              (keyup.enter)="navigateMoneda(i); onMonedaSelect()"
              (keyup)="onMonedaKeyUp($event.key)"
              clickDelay="100"
            ></app-boton>
          </div>
        </div>
        <div
          fxFlex="10"
          fxLayout="row wrap"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <div fxFlex="10">Vuelto para:</div>
          <div
            fxFlex="15%"
            *ngFor="let vuelto of selectedVueltoList; let i = index"
          >
            <app-boton
              #vueltoBtnList
              [color]="vuelto == vueltoControl.value ? 'accent' : null"
              [nombre]="vuelto"
              [sufix]="'(' + (i + 1) + ')'"
              (keyup.arrowRight)="navigateVuelto(i + 1)"
              (keyup.arrowLeft)="navigateVuelto(i - 1)"
              (clickEvent)="navigateVuelto(i); onVueltoSelect()"
              (keyup.enter)="navigateVuelto(i); onVueltoSelect()"
              (keyup)="onVueltoKeyUp($event.key)"
              clickDelay="100"
            ></app-boton>
          </div>
        </div>
        <div fxFlex="10%" fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="10%">Valor:</div>
          <div fxFlex="30%">
            <mat-form-field
              class="example-form-field"
              style="width: 100%; height: 100%"
            >
              <input
                #valorInput
                matInput
                type="text"
                [formControl]="valorControl"
                style="color: white; font-size: 1.3em"
                currencyMask
                [options]="
                  monedaControl.value?.id == 1
                    ? currencyOptionsGuarani
                    : currencyOptionsNoGuarani
                "
                autocomplete="off"
                (focusin)="onValorFocus()"
              />
              <button
                type="button"
                *ngIf="valorControl.value != null"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="valorControl.setValue(null)"
              >
                <mat-icon style="color: white; font-size: 1.5em"
                  >close</mat-icon
                >
              </button>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="25" style="width: 100%; height: 100%">
          <mat-card
            style="
              background-color: white;
              padding: 5px;
              height: 100%;
              width: 100%;
              overflow-y: scroll;
            "
          >
            <table class="table" style="font-size: 1em">
              <thead>
                <tr style="background-color: rgb(209, 209, 209); height: 2vh">
                  <th
                    scope="col"
                    style="text-align: center; width: 10%; padding: 2px"
                  >
                    #
                  </th>
                  <th scope="col" style="width: 20%; padding: 5px">Moneda</th>
                  <th
                    scope="col"
                    style="text-align: center; width: 20%; padding: 5px"
                  >
                    Forma Pago
                  </th>
                  <th
                    scope="col"
                    style="text-align: center; width: 30%; padding: 5px"
                  >
                    Cantidad
                  </th>
                  <th
                    scope="col"
                    style="text-align: center; width: 10%; padding: 5px"
                  ></th>
                  <th
                    scope="col"
                    style="text-align: center; width: 10%; padding: 5px"
                  ></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of pagoItemList; let i = index">
                  <td
                    style="
                      padding-bottom: 5px;
                      padding-top: 5px;
                      text-align: center;
                    "
                  >
                    {{ i + 1 }}
                  </td>
                  <td style="padding-bottom: 0; padding-top: 5px">
                    {{ item.moneda?.denominacion | titlecase }}
                  </td>
                  <td
                    style="
                      padding-bottom: 5px;
                      padding-top: 5px;
                      text-align: center;
                    "
                  >
                    {{ item.formaPago?.descripcion }}
                  </td>
                  <td
                    *ngIf="item.moneda?.id == 1"
                    style="
                      padding-bottom: 5px;
                      padding-top: 5px;
                      text-align: center;
                    "
                  >
                    {{ item.valor | number: "1.0-0" }}
                  </td>
                  <td
                    *ngIf="item.moneda?.id != 1"
                    style="
                      padding-bottom: 5px;
                      padding-top: 5px;
                      text-align: center;
                    "
                  >
                    {{ item.valor | number: "1.2-2" }}
                  </td>
                  <td
                    *ngIf="item.vuelto && !item.aumento"
                    style="
                      padding-bottom: 5px;
                      padding-top: 5px;
                      text-align: center;
                    "
                  >
                    Vuelto
                  </td>
                  <td
                    *ngIf="item.descuento"
                    style="
                      padding-bottom: 5px;
                      padding-top: 5px;
                      text-align: center;
                    "
                  >
                    Descuento
                  </td>
                  <td
                    *ngIf="item.aumento"
                    style="
                      padding-bottom: 5px;
                      padding-top: 5px;
                      text-align: center;
                    "
                  >
                    Aumento
                  </td>
                  <td
                    *ngIf="!item.descuento && !item.vuelto && !item.aumento"
                    style="
                      padding-bottom: 5px;
                      padding-top: 5px;
                      text-align: center;
                    "
                  >
                    Pago
                  </td>
                  <td
                    style="
                      padding-bottom: 5px;
                      padding-top: 5px;
                      text-align: center;
                    "
                  >
                    <mat-icon style="color: red" (click)="onDeleteItem(item, i)"
                      >clear</mat-icon
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card>
        </div>
        <div fxFlex="10%">botones</div>
      </mat-card>
    </div>
    <div fxFlex="30%" style="width: 100%" fxLayout="column" fxLayoutGap="10px">
      <mat-card fxFlex="50" class="card" fxLayout="column" style="height: 100%">
        <div fxFlex>
          <h3>Delivery activo</h3>
        </div>
      </mat-card>
      <mat-card fxFlex="50" class="card" fxLayout="column" style="height: 100%">
        <div fxFlex>
          <h3>Delivery concluído</h3>
        </div>
      </mat-card>
    </div>
  </div>
</div>
