.card {
  background-color: rgb(32, 32, 32);
}

input {
  text-transform: uppercase;
}

ngx-mat-select-search > div > input {
  text-transform: uppercase;
}

.cambios {
  font-size: 1.3em;
}


.activo {
  background-color: green;
}

.para_entregar {
  background-color: yellow;
}
