@use '~@angular/material' as mat;
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

@import '~material-design-icons-iconfont/dist/material-design-icons.css';

@include mat.core();

$angular-primary: mat.define-palette(mat.$red-palette, 500, 100, 700);
$angular-accent: mat.define-palette(mat.$green-palette, 600, 100, 600);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.accent{
  color: white !important
}

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-row:hover {
  background-color: mat.get-color-from-palette($angular-accent)
  ;
}
.mat-row::selection {
  background-color: mat.get-color-from-palette($angular-accent)
  ;
}

button {
  outline: red !important;
}

button[class="key-nav"]:focus {
  box-shadow: 0 0 3px 3px red !important;
}

input::selection {
  color: white;
  background: grey
}