@use '@angular/material' as mat;
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

@import 'material-design-icons-iconfont/dist/material-design-icons.css';

@include mat.legacy-core();
@include mat.core();

$angular-primary: mat.define-palette(mat.$red-palette, 500, 100, 700);
$angular-accent: mat.define-palette(mat.$green-palette, 600, 100, 600);
$angular-warn: mat.define-palette(mat.$red-palette, 500, 100, 700);

$angular-default-theme: mat.define-light-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    ));

.accent {
  color: white !important
}

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      )));

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
  @include mat.all-legacy-component-themes($angular-dark-theme); // this is the important line
}

html {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cdk-global-scrollblock {
  position: static !important;
  width: initial !important;
  overflow-y: inherit !important;
}

.mat-mdc-row:hover {
  background-color: mat.get-color-from-palette($angular-accent);
}

.mat-mdc-row::selection {
  background-color: mat.get-color-from-palette($angular-accent);
}

button {
  outline: red !important;
}

button[class="key-nav"]:focus {
  box-shadow: 0 0 3px 3px red !important;
}

input::selection {
  color: white;
  background: grey
}

.timeline {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1rem;
}

.timeline-event {
  display: flex;
  position: relative;
  min-height: 70px;
}

.timeline-event:last-child {
  min-height: 0;
}

.timeline-content {
  flex: 1;
  padding: 0 1rem;
}


.timeline-point-track-container {
  flex: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.timeline-point {
  display: flex;
  align-self: baseline;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
}

.terminado {
  border: 2px solid rgb(0, 143, 64);
  background-color: rgb(0, 143, 64);
}

.timeline-track {
  flex-grow: 1;
  background-color: #dee2ef;
  width: 2px;
}

.heightLight {
  background-color: rgb(0, 143, 64);
  box-shadow: 0 4px 8px rgb(43, 155, 93);
}

.timeline-date {
  font-size: 14px;
  font-style: bold;
  padding-left: 5px;
}

.timeline-user {
  font-size: 14px;
  font-style: italic;
  padding-left: 5px;
}

.raised-button:hover {
  color: #43a047;
  cursor: pointer;
}

.highlight-hover:hover {
  color: #43a047;
  cursor: pointer;
}

.highlight-hover-danger:hover {
  color: #f44336;
  cursor: pointer;
}

.titulo {
  text-align: start;
  color: #f57c00;
}

.titulo-color {
  color: #f57c00;
}

.titulo-center {
  text-align: center;
  color: #f57c00;
}

.subtitulo {
  width: 100%;
  text-align: start;
}

.subtitulo-center {
  width: 100%;
  text-align: center;
}


.required-field::after {
  content: "*";
}

::-webkit-scrollbar {
  display: none;
}

.warn {
  --mdc-snackbar-container-color: #f57c00 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mdc-snackbar-container-bottom: 30px;
}

.success {
  --mdc-snackbar-container-color: #43a047 !important;
  --mdc-snackbar-supporting-text-color: white !important;
}

::ng-deep .cdk-overlay-pane:has(mat-mdc-simple-snack-bar) {
  position: fixed !important;
  bottom: 30% !important;
  /* Adjust this value as needed */
}

.info {
  --mdc-snackbar-container-color: #54c5f8 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mdc-snackbar-container-bottom: 30px;
}

.neutral {
  --mdc-snackbar-container-color: #757575 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mdc-snackbar-container-bottom: 30px;
}

.danger {
  --mdc-snackbar-container-color: #f44336 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mdc-snackbar-container-bottom: 30px;
}

.mat-card {
  color: white !important;
}

.mat-mdc-form-field-infix {
  height: 40px !important;
}

.mdc-text-field--filled {
  background-color: rgba(32, 32, 32, 0) !important;
}

.mdc-text-field--focused {
  background-color: inherit !important;
}

.mat-mdc-form-field-flex {
  height: 3em !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: inherit !important;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 0px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  text-transform: uppercase !important;
}

.mat-form-field-appearance-outline.mat-focused {
  background-color: inherit !important;
}

.mat-mdc-tab-group {
  height: 100% !important;
}

.mat-mdc-tab-body-wrapper {
  height: 100% !important;
}

.btn-success-flat {
  color: #43a047;
}

.btn-warn-flat {
  color: #f57c00;
}

.btn-danger-flat {
  color: #f44336;
}

.mat-option {
  font-size: medium;
}

.mat-select {
  font-size: medium;
}

.mat-card {
  padding: 10px;
}

.sub-descripcion {
  font-size: 0.8em;
  color: rgb(171 171 171);
  text-align: start;
  margin-top: -5px;
}

@media print {
  body[data-pdfjsprinting] #printContainer .printedPage {
    display: block !important;
  }
}

.mat-snack-bar-container {
  bottom: 30%;
  /* Adjust this value as needed */
}