@use '~@angular/material' as mat;
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

@import '~material-design-icons-iconfont/dist/material-design-icons.css';

@include mat.core();

$angular-primary: mat.define-palette(mat.$red-palette, 500, 100, 700);
$angular-accent: mat.define-palette(mat.$green-palette, 600, 100, 600);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.accent{
  color: white !important
}

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-row:hover {
  background-color: mat.get-color-from-palette($angular-accent)
  ;
}
.mat-row::selection {
  background-color: mat.get-color-from-palette($angular-accent)
  ;
}

button {
  outline: red !important;
}

button[class="key-nav"]:focus {
  box-shadow: 0 0 3px 3px red !important;
}

input::selection {
  color: white;
  background: grey
}

.timeline {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1rem;
}

.timeline-event {
  display: flex;
  position: relative;
  min-height: 70px;
}

.timeline-event:last-child {
  min-height: 0;
}

.timeline-content {
  flex: 1;
  padding: 0 1rem;
}


.timeline-point-track-container {
  flex: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
} 

.timeline-point {
  display: flex;
  align-self: baseline;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
}

.terminado {
  border: 2px solid rgb(0, 143, 64);
  background-color: rgb(0, 143, 64);
}
.timeline-track {
  flex-grow: 1;
  background-color: #dee2ef;
  width: 2px;
}

.heightLight {
  background-color: rgb(0, 143, 64);
  box-shadow: 0 4px 8px rgb(43, 155, 93);
}

.timeline-date {
  font-size: 14px;
  font-style: bold;
  padding-left: 5px;
}
.timeline-user {
  font-size: 14px;
  font-style: italic;
  padding-left: 5px;
}

.raised-button:hover {
  color: #43a047;
  cursor: pointer;
}

.highlight-hover:hover {
  color: #43a047;
  cursor: pointer;
}

.highlight-hover-danger:hover {
  color: #f44336;
  cursor: pointer;
}

.titulo {
  text-align: start;
  color: #f57c00;
}

.titulo-color {
  color: #f57c00;
}

.titulo-center {
  text-align: center;
  color: #f57c00;
}

.required-field::after {
  content: "*";
}
